## Revenue change in Taxi, FHV, and Public Tranportation after the surcharges (based on the modeling results)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('results_original_predict_transportation_choice.csv')
data1 = pd.read_csv('results_add2.75_predict_transportation_choice.csv')
data2 = pd.read_csv('results_add10_predict_transportation_choice.csv')
ground = pd.read_csv("final_acs_transportation_choice-Copy1.csv")

In [3]:
cleaned_data= pd.read_csv('final_allMode_with_wage-Copy1.csv')
taxi_price = cleaned_data[cleaned_data['mode']==1][['PUlocationID','DOlocationID','price']]
fhv_price = cleaned_data[cleaned_data['mode']==2][['PUlocationID','DOlocationID','price']]
fhv_s_price = cleaned_data[cleaned_data['mode']==3][['PUlocationID','DOlocationID','price']]
pt_price = cleaned_data[cleaned_data['mode']==4][['PUlocationID','DOlocationID','price']]

In [4]:
taxi = pd.DataFrame()
taxi['pickup']=data['origin']
taxi['dropoff']=data['destination']
taxi = taxi.merge(ground[['P(mode1)','taxi_zone']], left_on='pickup', right_on = 'taxi_zone', how='outer')
taxi = taxi.merge(data[['origin','destination','P(mode1)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
taxi = taxi.rename({'P(mode1)_x': 'ground_choice', 'P(mode1)_y': 'model result with no fee'}, axis='columns')
taxi = taxi.merge(data1[['origin','destination','P(mode1)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
taxi = taxi.merge(data2[['origin','destination','P(mode1)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
taxi = taxi.merge(taxi_price[['PUlocationID','DOlocationID','price']], 
          left_on=['pickup','dropoff'], right_on = ['PUlocationID','DOlocationID'])
taxi = taxi.drop(['taxi_zone','PUlocationID','DOlocationID','origin_x','destination_x','origin_y',
           'destination_y','origin','destination'], axis=1)
taxi = taxi.rename({'P(mode1)_x':'model result with $2.75', 'P(mode1)_y': 'model result with $10'}, axis='columns')
taxi_revenue = pd.DataFrame()
#taxi_revenue['groud_total_revenue'] = taxi['ground_choice']*taxi['price']
taxi_revenue['no fee total_revenue'] = taxi['model result with no fee']*taxi['price']
#taxi_revenue['$2.75 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+2.75)
#taxi_revenue['$10 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+10)
taxi_revenue['$2.75 total_revenue'] = taxi['model result with $2.75']*taxi['price']
taxi_revenue['$10 total_revenue'] = taxi['model result with $10']*taxi['price']
taxi_revenue.head(10)

   no fee total_revenue  $2.75 total_revenue  $10 total_revenue
0            108.506191           108.506191         108.506191
1            195.683255           195.683255         195.683255
2            258.521023           258.521023         258.521023
3             95.944550            95.944550          95.944550
4             39.584564            39.584564          39.584564
5            118.310136           118.310136         118.310136
6             27.167948            27.167948          27.167948
7             10.966208            10.966208          10.966208
8            220.979837           220.979837         220.979837
9            284.462062           284.462062         284.462062

In [5]:
revenue_change = pd.DataFrame(taxi_revenue.sum()).T
revenue_change['revenue change from no fee to $2.75'] = revenue_change['$2.75 total_revenue']-revenue_change['no fee total_revenue']
revenue_change['revenue change from  2.75 to 10']= revenue_change['$10 total_revenue']- revenue_change['$2.75 total_revenue']
revenue_change['revenue change from no fee to $10']= revenue_change['$10 total_revenue'] - revenue_change['no fee total_revenue']
revenue_change = revenue_change.T.rename({0:'Taxi'},axis = "columns")

In [6]:
fhv = pd.DataFrame()
fhv ['pickup']=data['origin']
fhv ['dropoff']=data['destination']
fhv  = fhv .merge(ground[['P(mode2)','taxi_zone']], left_on='pickup', right_on = 'taxi_zone', how='outer')
fhv  = fhv .merge(data[['origin','destination','P(mode2)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
fhv  = fhv .rename({'P(mode2)_x': 'ground_choice', 'P(mode2)_y': 'model result with no fee'}, axis='columns')
fhv  = fhv .merge(data1[['origin','destination','P(mode2)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
fhv  = fhv .merge(data2[['origin','destination','P(mode2)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
fhv  = fhv .merge(fhv_price[['PUlocationID','DOlocationID','price']], 
          left_on=['pickup','dropoff'], right_on = ['PUlocationID','DOlocationID'])
fhv  = fhv.drop(['taxi_zone','PUlocationID','DOlocationID','origin_x','destination_x','origin_y',
           'destination_y','origin','destination'], axis=1)
fhv = fhv.rename({'P(mode2)_x':'model result with $2.75', 'P(mode2)_y': 'model result with $10'}, axis='columns')
fhv_revenue = pd.DataFrame()
#taxi_revenue['groud_total_revenue'] = taxi['ground_choice']*taxi['price']
fhv_revenue['no fee total_revenue'] = fhv['model result with no fee']*fhv['price']
#taxi_revenue['$2.75 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+2.75)
#taxi_revenue['$10 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+10)
fhv_revenue['$2.75 total_revenue'] = fhv['model result with $2.75']*fhv['price']
fhv_revenue['$10 total_revenue'] = fhv['model result with $10']*fhv['price']
#fhv_revenue.head(10)

In [7]:
fhv_revenue = pd.DataFrame(fhv_revenue.sum()).T
fhv_revenue['revenue change from no fee to $2.75'] =  fhv_revenue['$2.75 total_revenue']-fhv_revenue['no fee total_revenue']
fhv_revenue['revenue change from  2.75 to 10']= fhv_revenue['$10 total_revenue']- fhv_revenue['$2.75 total_revenue']
fhv_revenue['revenue change from no fee to $10']= fhv_revenue['$10 total_revenue']- fhv_revenue['no fee total_revenue']
revenue_change['FHV']= fhv_revenue.T[0]
#revenue_change

In [8]:
fhv_s = pd.DataFrame()
fhv_s['pickup']=data['origin']
fhv_s ['dropoff']=data['destination']
fhv_s= fhv_s.merge(ground[['P(mode3)','taxi_zone']], left_on='pickup', right_on = 'taxi_zone', how='outer')
fhv_s = fhv_s.merge(data[['origin','destination','P(mode3)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
fhv_s= fhv_s.rename({'P(mode3)_x': 'ground_choice', 'P(mode3)_y': 'model result with no fee'}, axis='columns')
fhv_s= fhv_s.merge(data1[['origin','destination','P(mode3)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
fhv_s= fhv_s.merge(data2[['origin','destination','P(mode3)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
fhv_s= fhv_s.merge(fhv_s_price[['PUlocationID','DOlocationID','price']], 
          left_on=['pickup','dropoff'], right_on = ['PUlocationID','DOlocationID'])
fhv_s= fhv_s.drop(['taxi_zone','PUlocationID','DOlocationID','origin_x','destination_x','origin_y',
           'destination_y','origin','destination'], axis=1)
fhv_s= fhv_s.rename({'P(mode3)_x':'model result with $2.75', 'P(mode3)_y': 'model result with $10'}, axis='columns')
fhv_s_revenue = pd.DataFrame()
#taxi_revenue['groud_total_revenue'] = taxi['ground_choice']*taxi['price']
fhv_s_revenue['no fee total_revenue'] = fhv_s['model result with no fee']*fhv_s['price']
#taxi_revenue['$2.75 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+2.75)
#taxi_revenue['$10 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+10)
fhv_s_revenue['$2.75 total_revenue'] = fhv_s['model result with $2.75']*fhv_s['price']
fhv_s_revenue['$10 total_revenue'] = fhv_s['model result with $10']*fhv_s['price']
fhv_s_revenue = pd.DataFrame(fhv_s_revenue.sum()).T
fhv_s_revenue['revenue change from no fee to $2.75'] =  fhv_s_revenue['$2.75 total_revenue']-fhv_s_revenue['no fee total_revenue']
fhv_s_revenue['revenue change from  2.75 to 10']= fhv_s_revenue['$10 total_revenue']- fhv_s_revenue['$2.75 total_revenue']
fhv_s_revenue['revenue change from no fee to $10']= fhv_s_revenue['$10 total_revenue']- fhv_s_revenue['no fee total_revenue']
revenue_change['FHV_shared']= fhv_s_revenue.T[0]
revenue_change['FHV_total']= revenue_change['FHV']+revenue_change['FHV_shared']
#revenue_change

In [9]:
public_trans = pd.DataFrame()
public_trans['pickup']=data['origin']
public_trans['dropoff']=data['destination']
public_trans= public_trans.merge(ground[['P(mode4)','taxi_zone']], left_on='pickup', right_on = 'taxi_zone', how='outer')
public_trans = public_trans.merge(data[['origin','destination','P(mode4)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
public_trans= public_trans.rename({'P(mode4)_x': 'ground_choice', 'P(mode4)_y': 'model result with no fee'}, axis='columns')
public_trans= public_trans.merge(data1[['origin','destination','P(mode4)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
public_trans= public_trans.merge(data2[['origin','destination','P(mode4)']], 
          left_on=['pickup','dropoff'], right_on = ['origin','destination'])
public_trans= public_trans.merge(pt_price[['PUlocationID','DOlocationID','price']], 
          left_on=['pickup','dropoff'], right_on = ['PUlocationID','DOlocationID'])
public_trans= public_trans.drop(['taxi_zone','PUlocationID','DOlocationID','origin_x','destination_x','origin_y',
           'destination_y','origin','destination'], axis=1)
public_trans= public_trans.rename({'P(mode4)_x':'model result with $2.75', 'P(mode4)_y': 'model result with $10'}, axis='columns')
public_trans_revenue = pd.DataFrame()
#taxi_revenue['groud_total_revenue'] = taxi['ground_choice']*taxi['price']
public_trans_revenue['no fee total_revenue'] = public_trans['model result with no fee']*public_trans['price']
#taxi_revenue['$2.75 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+2.75)
#taxi_revenue['$10 baseline_revenue'] = taxi['model result with no fee']*(taxi['price']+10)
public_trans_revenue['$2.75 total_revenue'] = public_trans['model result with $2.75']*public_trans['price']
public_trans_revenue['$10 total_revenue'] = public_trans['model result with $10']*public_trans['price']
public_trans_revenue = pd.DataFrame(public_trans_revenue.sum()).T
public_trans_revenue['revenue change from no fee to $2.75'] =public_trans_revenue['$2.75 total_revenue']-public_trans_revenue['no fee total_revenue']
public_trans_revenue['revenue change from  2.75 to 10']= public_trans_revenue['$10 total_revenue']- public_trans_revenue['$2.75 total_revenue']
public_trans_revenue['revenue change from no fee to $10']= public_trans_revenue['$10 total_revenue']- public_trans_revenue['no fee total_revenue']
revenue_change['Public Transportation']= public_trans_revenue.T[0]
revenue_change

,Taxi,FHV,FHV_shared,FHV_total,Public Transportation
no fee total_revenue,1.100979e+07,1.146081e+07,8.862697e+06,2.032351e+07,6.487861e+06
$2.75 total_revenue,1.045819e+07,1.091341e+07,9.120351e+06,2.003376e+07,6.592664e+06
$10 total_revenue,9.127869e+06,9.922014e+06,9.723822e+06,1.964584e+07,6.810433e+06
revenue change from no fee to $2.75,-5.516013e+05,-5.474035e+05,2.576544e+05,-2.897491e+05,1.048036e+05
revenue change from 2.75 to 10,-1.330316e+06,-9.913933e+05,6.034713e+05,-3.879220e+05,2.177688e+05
revenue change from no fee to $10,-1.881918e+06,-1.538797e+06,8.611256e+05,-6.776711e+05,3.225724e+05

## Tax Revenue

In [10]:
zones_2_75 = [140,141, 237, 236, 263, 262, 43, 238, 239, 143,142, 12, 88, 261, 13, 87,
              209, 231, 45, 232, 148, 144, 211, 125, 158,  249, 114, 113, 79, 4, 224, 107, 234, 90, 68,
              246, 186, 164, 100, 170, 137, 233, 162, 161, 230, 48, 50, 163, 229]
zones_10 = [12, 88, 261, 13, 87, 209, 231, 45, 232, 148, 144, 211, 125, 158,  249, 114,
            113, 79, 4, 224, 107, 234, 90, 68, 246, 186, 164, 100, 170, 137, 233, 162, 161, 230, 48, 50, 163, 229]

In [11]:
population_2_75 = data1[data1['origin'].isin(zones_2_75)|data1['destination'].isin(zones_2_75)]
population_2_75 = pd.DataFrame(population_2_75.sum()).T
population_2_75_total = population_2_75['P(mode1)'] + population_2_75['P(mode2)']+population_2_75['P(mode3)']
population_2_75_total

0    519686
dtype: object

In [12]:
population_10 = data2[data2['origin'].isin(zones_10) | data2['destination'].isin(zones_10)]
population_10 = pd.DataFrame(population_10.sum()).T
population_10_total = population_10['P(mode1)'] + population_10['P(mode2)']+population_10['P(mode3)']
population_10_total

0    392952
dtype: object

In [13]:
baseline_2_75 = data[data['origin'].isin(zones_2_75) | data['destination'].isin(zones_2_75)]
baseline_2_75 = pd.DataFrame(baseline_2_75.sum()).T
baseline_2_75_total = baseline_2_75['P(mode1)'] + baseline_2_75['P(mode2)']+baseline_2_75['P(mode3)']
baseline_2_75_total

0    548680
dtype: object

In [14]:
baseline_10 = data[data['origin'].isin(zones_10) | data['destination'].isin(zones_10)]
baseline_10 = pd.DataFrame(baseline_10.sum()).T
baseline_10_total = baseline_10['P(mode1)'] + baseline_10['P(mode2)']+baseline_10['P(mode3)']
baseline_10_total

0    483797
dtype: object

In [15]:
tax_revenue = pd.DataFrame()

In [16]:
tax_revenue['Baseline revenue - $2.75'] = baseline_2_75_total*2.75
tax_revenue['revenue after mode shift - $2.75'] = population_2_75_total*2.75
tax_revenue['Baseline revenue - $10'] = baseline_10_total*10
tax_revenue['revenue after mode shift -  $10'] = population_10_total*10
tax_revenue = tax_revenue.T.rename({0:'Tax Revenue'},axis ='columns').T
tax_revenue

,Baseline revenue - $2.75,revenue after mode shift - $2.75,Baseline revenue - $10,revenue after mode shift - $10
Tax Revenue,1.50887e+06,1.42914e+06,4.83797e+06,3.92952e+06

# Change in Ridership

## From No surcharge to $2.75 surcharge (negative number represent decrease in ridership) :

In [17]:
no_fee_to_2_75 = pd.DataFrame(data1.sum()).T - pd.DataFrame(data.sum()).T
no_fee_to_2_75 = no_fee_to_2_75.drop(['ODpair','Unnamed: 0','destination','origin'],axis = 1)
no_fee_to_2_75 = no_fee_to_2_75.rename({'P(mode1)':'Taxi', 'P(mode2)':'FHV', 'P(mode3)':'FHV_shared', 'P(mode4)':'Public Transportation',
                       'P(mode5)':'Walking'}, axis = 'columns')
Total_change_in_all_FHV_2_75 = no_fee_to_2_75.FHV + no_fee_to_2_75.FHV_shared
Total_change_in_Taxi_FHV_2_75 = no_fee_to_2_75.Taxi + Total_change_in_all_FHV_2_75
print('Total riderhsip change in Taxi: %d' %no_fee_to_2_75['Taxi'])
print('Total riderhsip change in FHV: %d' %Total_change_in_all_FHV_2_75)
print('Total riderhsip change in Taxi and FHV: %d' %Total_change_in_Taxi_FHV_2_75)
print('Total riderhsip change in Public Transportation: %d' %no_fee_to_2_75['Public Transportation'])
print('Total riderhsip change in Walking: %d' %no_fee_to_2_75['Walking'])
no_fee_to_2_75

Total riderhsip change in Taxi: -22236
Total riderhsip change in FHV: -6757
Total riderhsip change in Taxi and FHV: -28993
Total riderhsip change in Public Transportation: 24493
Total riderhsip change in Walking: 4500

      Taxi      FHV FHV_shared Public Transportation  Walking
0 -22236.7 -16677.2    9919.96               24493.2  4500.68

## From 2.75 dollar surcharge to 10 dollar surcharge:

In [18]:
from_2_75_to_10 = pd.DataFrame(data2.sum()).T - pd.DataFrame(data1.sum()).T
from_2_75_to_10 = from_2_75_to_10.drop(['ODpair','Unnamed: 0','destination','origin'],axis = 1)
from_2_75_to_10 = from_2_75_to_10.rename({'P(mode1)':'Taxi', 'P(mode2)':'FHV', 'P(mode3)':'FHV_shared', 'P(mode4)':'Public Transportation',
                       'P(mode5)':'Walking'}, axis = 'columns')
Total_change_in_all_FHV_10 = from_2_75_to_10.FHV + from_2_75_to_10.FHV_shared
Total_change_in_Taxi_FHV_10 = from_2_75_to_10.Taxi + Total_change_in_all_FHV_10
print('Total riderhsip change in Taxi: %d' %from_2_75_to_10['Taxi'])
print('Total riderhsip change in FHV: %d' %Total_change_in_all_FHV_10)
print('Total riderhsip change in Taxi and FHV: %d' % Total_change_in_Taxi_FHV_10)
print('Total riderhsip change in Public Transportation: %d' %from_2_75_to_10['Public Transportation'])
print('Total riderhsip change in Walking: %d' %from_2_75_to_10['Walking'])
from_2_75_to_10

Total riderhsip change in Taxi: -54720
Total riderhsip change in FHV: -7130
Total riderhsip change in Taxi and FHV: -61851
Total riderhsip change in Public Transportation: 52691
Total riderhsip change in Walking: 9159

      Taxi      FHV FHV_shared Public Transportation  Walking
0 -54720.3 -30697.3    23566.6               52691.2  9159.91

## From no surcharge to $10 surcharge:

In [19]:
no_fee_to_10 = no_fee_to_2_75+from_2_75_to_10
no_fee_to_10

    Taxi      FHV FHV_shared Public Transportation  Walking
0 -76957 -47374.5    33486.5               77184.4  13660.6

In [20]:
Total_change_in_all_FHV_no_10 = no_fee_to_10.FHV + no_fee_to_10.FHV_shared
Total_change_in_Taxi_FHV_no_10 = no_fee_to_10.Taxi + Total_change_in_all_FHV_no_10
print('Total riderhsip change in Taxi: %d' %no_fee_to_10['Taxi'])
print('Total riderhsip change in FHV: %d' %Total_change_in_all_FHV_no_10)
print('Total riderhsip change in Taxi and FHV: %d' % Total_change_in_all_FHV_no_10)
print('Total riderhsip change in Public Transportation: %d' %no_fee_to_10['Public Transportation'])
print('Total riderhsip change in Walking: %d' %no_fee_to_10['Walking'])

Total riderhsip change in Taxi: -76957
Total riderhsip change in FHV: -13887
Total riderhsip change in Taxi and FHV: -13887
Total riderhsip change in Public Transportation: 77184
Total riderhsip change in Walking: 13660