In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('results_scenario1_0.05_1.5.csv')
data = data.set_index('Unnamed: 0')
data1 = pd.read_csv('results_scenario2_0.05_1.5.csv')
data1 = data1.drop(['Unnamed: 0'],axis=1)
data1 = data1.set_index('Unnamed: 0.1')
data2 = pd.read_csv('results_scenario3_with_scenario1_0.05_1.5.csv')
data2 = data2.set_index('Unnamed: 0')
ground = pd.read_csv("final_acs_transportation_choice.csv")
ground = ground.set_index('taxi_zone')

In [3]:
ground.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
taxi_zone,,,,,,
3.0,0.115434,17.843262,7.334361,3885.402712,478.622467,4316.681764
4.0,42.851015,140.891180,84.609811,6937.780033,2631.714648,779.153313
5.0,0.081377,13.158607,2.120444,1860.706347,40.495673,6312.437553
6.0,0.109017,7.637848,1.878344,1974.772111,198.118892,3086.483787
7.0,25.522468,142.614028,37.582529,28436.765508,2680.397880,5365.117587

In [4]:
data.sum()

P(mode1)    5.696786e+04
P(mode2)    6.993359e+03
P(mode3)    2.557339e+03
P(mode4)    1.448266e+06
P(mode5)    2.281302e+05
P(mode6)    1.138436e+06
dtype: float64

In [5]:
ground.sum()

P(mode1)    9.720936e+03
P(mode2)    1.475381e+04
P(mode3)    5.745300e+03
P(mode4)    1.756041e+06
P(mode5)    3.071924e+05
P(mode6)    7.865649e+05
dtype: float64

In [6]:
ratio = pd.DataFrame(ground.sum()/data.sum())
ratio = ratio.T
ratio

   P(mode1)  P(mode2)  P(mode3)  P(mode4)  P(mode5)  P(mode6)
0  0.170639  2.109688  2.246593  1.212513  1.346566  0.690917

In [7]:
def scaleing(df,ratio):
    df['P(mode1)'] = df['P(mode1)']*ratio['P(mode1)'].values
    df['P(mode2)'] = df['P(mode2)']*ratio['P(mode2)'].values
    df['P(mode3)'] = df['P(mode3)']*ratio['P(mode3)'].values
    df['P(mode4)'] = df['P(mode4)']*ratio['P(mode4)'].values
    df['P(mode5)'] = df['P(mode5)']*ratio['P(mode5)'].values
    df['P(mode6)'] = df['P(mode6)']*ratio['P(mode6)'].values

In [8]:
scaleing(data,ratio)

In [9]:
data.sum()

P(mode1)    9.720936e+03
P(mode2)    1.475381e+04
P(mode3)    5.745300e+03
P(mode4)    1.756041e+06
P(mode5)    3.071924e+05
P(mode6)    7.865649e+05
dtype: float64

In [10]:
data.to_csv('Scaled_results_scenario1_0.05_1.5.csv')

In [11]:
data1.sum()

P(mode1)    3.357086e+04
P(mode2)    6.760843e+03
P(mode3)    3.624433e+03
P(mode4)    1.466963e+06
P(mode5)    2.295121e+05
P(mode6)    1.140920e+06
dtype: float64

In [12]:
data2.sum()

P(mode1)    2.244691e+04
P(mode2)    6.759563e+03
P(mode3)    4.706100e+03
P(mode4)    1.568532e+06
P(mode5)    2.310550e+05
P(mode6)    1.047852e+06
dtype: float64

In [13]:
scaleing(data1,ratio)
scaleing(data2,ratio)

In [14]:
data1.sum()

P(mode1)    5.728496e+03
P(mode2)    1.426327e+04
P(mode3)    8.142628e+03
P(mode4)    1.778711e+06
P(mode5)    3.090532e+05
P(mode6)    7.882809e+05
dtype: float64

In [15]:
data2.sum()

P(mode1)    3.830317e+03
P(mode2)    1.426057e+04
P(mode3)    1.057269e+04
P(mode4)    1.901864e+06
P(mode5)    3.111308e+05
P(mode6)    7.239785e+05
dtype: float64

In [16]:
data1.to_csv('Scaled_results_scenario2_0.05_1.5.csv')
data2.to_csv('Scaled_results_scenario3_0.05_1.5.csv')