In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('results_scenario1_.06_1.5.csv')
data = data.set_index('Unnamed: 0')
data1 = pd.read_csv('results_scenario2_')
data1 = data1.drop(['Unnamed: 0'],axis=1)
data1 = data1.set_index('Unnamed: 0.1')
data2 = pd.read_csv('results_scenario3_full_0.05_1.4_for_uncertainty.csv')
data2 = data2.set_index('Unnamed: 0')
ground = pd.read_csv("../../modeling/final_acs_transportation_choice.csv")
ground = ground.set_index('taxi_zone')

In [5]:
ground.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
taxi_zone,,,,,,
3.0,0.115434,17.843262,7.334361,3885.402712,478.622467,4316.681764
4.0,42.851015,140.891180,84.609811,6937.780033,2631.714648,779.153313
5.0,0.081377,13.158607,2.120444,1860.706347,40.495673,6312.437553
6.0,0.109017,7.637848,1.878344,1974.772111,198.118892,3086.483787
7.0,25.522468,142.614028,37.582529,28436.765508,2680.397880,5365.117587

In [6]:
data.sum()

P(mode1)    6.265463e+04
P(mode2)    8.350797e+03
P(mode3)    3.047214e+03
P(mode4)    1.444052e+06
P(mode5)    2.276237e+05
P(mode6)    1.135622e+06
dtype: float64

In [7]:
ground.sum()

P(mode1)    9.720936e+03
P(mode2)    1.475381e+04
P(mode3)    5.745300e+03
P(mode4)    1.756041e+06
P(mode5)    3.071924e+05
P(mode6)    7.865649e+05
dtype: float64

In [8]:
ratio = pd.DataFrame(ground.sum()/data.sum())
ratio = ratio.T
ratio

   P(mode1)  P(mode2)  P(mode3)  P(mode4)  P(mode5)  P(mode6)
0  0.155151  1.766754  1.885427  1.216051  1.349563  0.692629

In [9]:
def scaleing(df,ratio):
    df['P(mode1)'] = df['P(mode1)']*ratio['P(mode1)'].values
    df['P(mode2)'] = df['P(mode2)']*ratio['P(mode2)'].values
    df['P(mode3)'] = df['P(mode3)']*ratio['P(mode3)'].values
    df['P(mode4)'] = df['P(mode4)']*ratio['P(mode4)'].values
    df['P(mode5)'] = df['P(mode5)']*ratio['P(mode5)'].values
    df['P(mode6)'] = df['P(mode6)']*ratio['P(mode6)'].values

In [10]:
scaleing(data,ratio)

In [11]:
data.sum()

P(mode1)    9.720936e+03
P(mode2)    1.475381e+04
P(mode3)    5.745300e+03
P(mode4)    1.756041e+06
P(mode5)    3.071924e+05
P(mode6)    7.865649e+05
dtype: float64

In [12]:
data.to_csv('Scaled_results_scenario1_0.05_1.4.csv')

In [13]:
data1.sum()

P(mode1)    3.827219e+04
P(mode2)    7.911710e+03
P(mode3)    4.386964e+03
P(mode4)    1.463836e+06
P(mode5)    2.289829e+05
P(mode6)    1.137961e+06
dtype: float64

In [14]:
data2.sum()

P(mode1)    2.434250e+04
P(mode2)    7.892983e+03
P(mode3)    6.584605e+03
P(mode4)    1.566327e+06
P(mode5)    2.304858e+05
P(mode6)    1.045718e+06
dtype: float64

In [15]:
scaleing(data1,ratio)
scaleing(data2,ratio)

In [16]:
data1.sum()

P(mode1)    5.937974e+03
P(mode2)    1.397805e+04
P(mode3)    8.271300e+03
P(mode4)    1.780098e+06
P(mode5)    3.090267e+05
P(mode6)    7.881850e+05
dtype: float64

In [17]:
data2.sum()

P(mode1)    3.776766e+03
P(mode2)    1.394496e+04
P(mode3)    1.241479e+04
P(mode4)    1.904733e+06
P(mode5)    3.110550e+05
P(mode6)    7.242947e+05
dtype: float64

In [18]:
data1.to_csv('Scaled_results_scenario2_0.05_1.4.csv')
data2.to_csv('Scaled_results_scenario3_0.05_1.4.csv')