In [41]:
import pandas as pd
import numpy as numpy
import json 
import os 
import pylab as pl
import urllib
import requests
import geopandas as gp
import fiona
import shapely
from fiona.crs import from_epsg
import os
import pandas as pd
import urllib
import requests
import json
import sys
import io
import shapely
import base64
import urllib.request
import functools
import geopandas as gp
import fiona
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
%matplotlib inline

%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/katharinevoorhees/anaconda3/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['nan']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [42]:
myAPI = '90341a28f02794c77f6e3abb153a4952a0bb480b'

In [43]:
#pull in library of variable names
url = "https://api.census.gov/data/2016/acs/acs5/variables.json"
resp = requests.request('GET', url)
aff1y = json.loads(resp.text)

affkeys = np.array(list(aff1y['variables'].keys()))

In [44]:
#search for commute codes
[(k, aff1y['variables'][k]['label'])  for k in affkeys if k.startswith ('B08301') ]

[('B08301_007E',
  'Estimate!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool'),
 ('B08301_006E',
  'Estimate!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool'),
 ('B08301_009E',
  'Estimate!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool'),
 ('B08301_008E',
  'Estimate!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool'),
 ('B08301_003E', 'Estimate!!Total!!Car, truck, or van!!Drove alone'),
 ('B08301_002E', 'Estimate!!Total!!Car, truck, or van'),
 ('B08301_005E',
  'Estimate!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool'),
 ('B08301_004E', 'Estimate!!Total!!Car, truck, or van!!Carpooled'),
 ('B08301_011E',
  'Estimate!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus'),
 ('B08301_010E', 'Estimate!!Total!!Public transportation (excluding taxicab)'),
 ('B08301_013E',
  'Estimate!!Total!!Public transportation (excluding taxicab)!!Subway or elevated'),
 ('B08301_012E',
  'Estimate!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico)'),
 ('B08301_001E', 'Estimate!!Total'),
 ('B08301_019E', 'Estimate!!Total!!Walked'),
 ('B08301_018E', 'Estimate!!Total!!Bicycle'),
 ('B08301_015E',
  'Estimate!!Total!!Public transportation (excluding taxicab)!!Ferryboat'),
 ('B08301_014E',
  'Estimate!!Total!!Public transportation (excluding taxicab)!!Railroad'),
 ('B08301_017E', 'Estimate!!Total!!Motorcycle'),
 ('B08301_016E', 'Estimate!!Total!!Taxicab'),
 ('B08301_021E', 'Estimate!!Total!!Worked at home'),
 ('B08301_020E', 'Estimate!!Total!!Other means')]

In [45]:
#dictionary for renaming later
column_keys= {'B08301_001E':'total_total','B08301_010E':'total_public_transpo',
        'B08301_011E':'bus','B08301_012E':'streetcar','B08301_013E':'subway',
        'B08301_002E': 'total_car_van_truck', 'B08301_003E':'car_vt_alone',
        'B08301_004E':'car_vt_carpooled', 'B08301_018E':'bicycle','B08301_019E':'walked',
        'B08301_014E':'railroad', 'B08301_015E':'ferry','B08301_016E':'taxi',
        'B08301_017E':'motorcycle','B08301_021E':'worked_at_home', 'B08301_020E':'other_means'}

In [46]:
#name keys
key1 = 'B08301_001E,B08301_010E,B08301_011E,B08301_012E,B08301_013E,B08301_002E,B08301_003E,'
key2 = 'B08301_004E,B08301_018E,B08301_019E,B08301_014E,B08301_015E,B08301_016E,B08301_017E,'
key3 = 'B08301_021E,B08301_020E'

In [47]:
#download info from census
year = '2017'

counties = [ 5, 47, 61, 81, 85]

url = "https://api.census.gov/data/" + year + "/acs/acs5?get=" +key1+key2+key3+\
    ",NAME&for=tract:*&in=state:36&in=county:*&key=" + myAPI
resp = requests.request('GET', url).content
commute = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))

commute = commute[commute['county'].isin(counties)]


commute.head(1)

,B08301_001E,B08301_010E,B08301_011E,B08301_012E,B08301_013E,B08301_002E,B08301_003E,B08301_004E,B08301_018E,B08301_019E,B08301_014E,B08301_015E,B08301_016E,B08301_017E,B08301_021E,B08301_020E,NAME,state,county,tract,Unnamed: 20
0,936,652,49,0,603,118,89,29,13,91,0,0,0,5,57,0,"Census Tract 119, Queens County, New York",36,81,11900,NaN

In [48]:
commute.rename(columns=column_keys, inplace=True)

In [49]:
commute.head(3)

,total_total,total_public_transpo,bus,streetcar,subway,total_car_van_truck,car_vt_alone,car_vt_carpooled,bicycle,walked,railroad,ferry,taxi,motorcycle,worked_at_home,other_means,NAME,state,county,tract,Unnamed: 20
0,936,652,49,0,603,118,89,29,13,91,0,0,0,5,57,0,"Census Tract 119, Queens County, New York",36,81,11900,NaN
1,733,241,45,0,192,387,338,49,0,35,4,0,7,22,41,0,"Census Tract 135, Queens County, New York",36,81,13500,NaN
2,1024,565,71,0,457,296,253,43,0,64,37,0,21,13,61,4,"Census Tract 136, Queens County, New York",36,81,13600,NaN

In [50]:
#pull in previously made key
os.chdir('/Users/katharinevoorhees/CAPSTONE/')
zones = pd.read_csv('better_taxizone_censustract_key.csv')
zones.head()

,index_right,OBJECTID,zone,tractid,bcode,tractnum
0,1968,2.0,Jamaica Bay,36081107202,36081,107202
1,222,3.0,Allerton/Pelham Gardens,36005031000,36005,31000
2,224,3.0,Allerton/Pelham Gardens,36005031400,36005,31400
3,226,3.0,Allerton/Pelham Gardens,36005031800,36005,31800
4,225,3.0,Allerton/Pelham Gardens,36005031600,36005,31600

In [51]:
len(zones['tractnum'].unique())

1332

In [52]:
len(commute['tract'].unique())

1335

In [53]:
#get country codes for join
zones['bcode'] = zones['bcode'].astype('str')
zones['cnty'] = zones['bcode'].str[-3:].astype('int')
zones.head()

,index_right,OBJECTID,zone,tractid,bcode,tractnum,cnty
0,1968,2.0,Jamaica Bay,36081107202,36081,107202,81
1,222,3.0,Allerton/Pelham Gardens,36005031000,36005,31000,5
2,224,3.0,Allerton/Pelham Gardens,36005031400,36005,31400,5
3,226,3.0,Allerton/Pelham Gardens,36005031800,36005,31800,5
4,225,3.0,Allerton/Pelham Gardens,36005031600,36005,31600,5

In [54]:
joined = commute.merge(zones, left_on=['county','tract'], right_on=['cnty','tractnum'])

joined.shape

(2161, 28)

In [55]:
#see if any tracts don't have a taxi zone
nan = joined[joined['OBJECTID'].isnull()]
nan

Empty DataFrame
Columns: [total_total, total_public_transpo, bus, streetcar, subway, total_car_van_truck, car_vt_alone, car_vt_carpooled, bicycle, walked, railroad, ferry, taxi, motorcycle, worked_at_home, other_means, NAME, state, county, tract, Unnamed: 20, index_right, OBJECTID, zone, tractid, bcode, tractnum, cnty]
Index: []

In [56]:
#aggregate by zone
commute_taxi_zone = joined.groupby('OBJECTID').sum().reset_index()

In [57]:
commute_taxi_zone.columns

Index(['OBJECTID', 'total_total', 'total_public_transpo', 'bus', 'streetcar',
       'subway', 'total_car_van_truck', 'car_vt_alone', 'car_vt_carpooled',
       'bicycle', 'walked', 'railroad', 'ferry', 'taxi', 'motorcycle',
       'worked_at_home', 'other_means', 'state', 'county', 'tract',
       'Unnamed: 20', 'index_right', 'tractid', 'tractnum', 'cnty'],
      dtype='object')

In [58]:
commute_taxi_zone = commute_taxi_zone.loc[:,'OBJECTID':'other_means']

In [59]:
commute_taxi_zone.rename(columns={'OBJECTID':'taxi_zone'}, inplace=True)

commute_taxi_zone.head(2)

,taxi_zone,total_total,total_public_transpo,bus,streetcar,subway,total_car_van_truck,car_vt_alone,car_vt_carpooled,bicycle,walked,railroad,ferry,taxi,motorcycle,worked_at_home,other_means
0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3.0,14002,5991,1285,40,4399,6656,5643,1013,7,738,267,0,39,27,491,53

In [60]:
commute_taxi_zone.columns

Index(['taxi_zone', 'total_total', 'total_public_transpo', 'bus', 'streetcar',
       'subway', 'total_car_van_truck', 'car_vt_alone', 'car_vt_carpooled',
       'bicycle', 'walked', 'railroad', 'ferry', 'taxi', 'motorcycle',
       'worked_at_home', 'other_means'],
      dtype='object')

In [61]:
commute_taxi_zone[commute_taxi_zone['taxi_zone'] == 263][['total_total','total_public_transpo','walked','taxi']]

     total_total  total_public_transpo  walked  taxi
260        31069                 21933    3836  1073

In [96]:
commute_taxi_zone.total_total.sum()

3975060

In [97]:
commute_taxi_zone.sum(axis = 0, skipna = True)

taxi_zone                 34611.0
total_total             3975060.0
total_public_transpo    2247686.0
bus                      423349.0
streetcar                  8822.0
subway                  1745407.0
total_car_van_truck     1057870.0
car_vt_alone             874845.0
car_vt_carpooled         183025.0
bicycle                   47047.0
walked                   396134.0
railroad                  59227.0
ferry                     10881.0
taxi                      38653.0
motorcycle                 3238.0
worked_at_home           162537.0
other_means               21895.0
dtype: float64

In [106]:
for i in commute_taxi_zone.columns: 
    prop = commute_taxi_zone[i].sum()/commute_taxi_zone.total_total.sum()
    round_prop = np.round((prop*100),2)
    print('The true proportion of {} is {}'.format(i,round_prop))

The true proportion of taxi_zone is 0.87
The true proportion of total_total is 100.0
The true proportion of total_public_transpo is 56.54
The true proportion of bus is 10.65
The true proportion of streetcar is 0.22
The true proportion of subway is 43.91
The true proportion of total_car_van_truck is 26.61
The true proportion of car_vt_alone is 22.01
The true proportion of car_vt_carpooled is 4.6
The true proportion of bicycle is 1.18
The true proportion of walked is 9.97
The true proportion of railroad is 1.49
The true proportion of ferry is 0.27
The true proportion of taxi is 0.97
The true proportion of motorcycle is 0.08
The true proportion of worked_at_home is 4.09
The true proportion of other_means is 0.55

In [107]:
eventual = commute_taxi_zone[['taxi_zone','total_public_transpo','walked','taxi', 'total_car_van_truck']]
eventual['temp_sum'] = eventual['total_public_transpo'] + eventual['walked'] + eventual['taxi'] +  eventual['total_car_van_truck']

/Users/katharinevoorhees/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [109]:
for i in eventual.columns: 
    prop = eventual[i].sum()/eventual.temp_sum.sum()
    round_prop = np.round((prop*100),2)
    print('The inflated proportion of {} for our model is {}'.format(i,round_prop))

The inflated proportion of taxi_zone for our model is 0.93
The inflated proportion of total_public_transpo for our model is 60.09
The inflated proportion of walked for our model is 10.59
The inflated proportion of taxi for our model is 1.03
The inflated proportion of total_car_van_truck for our model is 28.28
The inflated proportion of temp_sum for our model is 100.0

In [111]:
 stat = eventual.temp_sum.sum()/commute_taxi_zone.total_total.sum()
print('We are accounting for {} percent of ACS commuters with our modes'.format(np.round(stat*100)))

We are accounting for 94.0 percent of ACS commuters with our modes

In [62]:
new = commute_taxi_zone[['taxi_zone','total_public_transpo','walked','taxi', 'total_car_van_truck']]
new['temp_sum'] = new['total_public_transpo'] + new['walked'] + new['taxi'] +  new['total_car_van_truck']
col = ['total_public_transpo','walked','taxi', 'total_car_van_truck']
for i in col: `
    new[i] = new[i]/new['temp_sum']
new.head()

/Users/katharinevoorhees/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/katharinevoorhees/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,taxi_zone,total_public_transpo,walked,taxi,total_car_van_truck,temp_sum
0,2.0,NaN,NaN,NaN,NaN,0
1,3.0,0.446290,0.054976,0.002905,0.495828,13424
2,4.0,0.653460,0.247877,0.025276,0.073387,10247
3,5.0,0.226116,0.004921,0.001867,0.767097,11786
4,6.0,0.374791,0.037601,0.001827,0.585782,6569

In [64]:
os.chdir('/Users/katharinevoorhees/Downloads/')
t_nest = pd.read_csv('taxi_proportions.csv')[['PUlocationID','Taxi proportion','FHV proportion','FHV_shared proportion']]
t_nest.head()

   PUlocationID  Taxi proportion  FHV proportion  FHV_shared proportion
0           1.0         0.324470        0.599125               0.076405
1           2.0         0.224490        0.704082               0.071429
2           3.0         0.004564        0.705461               0.289975
3           4.0         0.159682        0.525024               0.315294
4           5.0         0.005298        0.856656               0.138046

In [65]:
new = new.merge(t_nest, left_on='taxi_zone', right_on='PUlocationID')

In [66]:
new = new.rename(columns={'Taxi proportion':'new_taxi','FHV proportion':'FHV', 'FHV_shared proportion':'FHV_share'})

In [67]:
new.dropna(inplace=True)
new.head()

,taxi_zone,total_public_transpo,walked,taxi,total_car_van_truck,temp_sum,PUlocationID,new_taxi,FHV,FHV_share
1,3.0,0.446290,0.054976,0.002905,0.495828,13424,3.0,0.004564,0.705461,0.289975
2,4.0,0.653460,0.247877,0.025276,0.073387,10247,4.0,0.159682,0.525024,0.315294
3,5.0,0.226116,0.004921,0.001867,0.767097,11786,5.0,0.005298,0.856656,0.138046
4,6.0,0.374791,0.037601,0.001827,0.585782,6569,6.0,0.011326,0.793525,0.195148
5,7.0,0.775097,0.073059,0.005607,0.146236,42445,7.0,0.124065,0.693247,0.182689

In [68]:
new['new_taxi'] = new['taxi'] * new['new_taxi']
new['FHV'] = new['FHV'] * new['taxi']
new['FHV_share'] = new['FHV_share'] * new['taxi']
new.head()

,taxi_zone,total_public_transpo,walked,taxi,total_car_van_truck,temp_sum,PUlocationID,new_taxi,FHV,FHV_share
1,3.0,0.446290,0.054976,0.002905,0.495828,13424,3.0,0.000013,0.002050,0.000842
2,4.0,0.653460,0.247877,0.025276,0.073387,10247,4.0,0.004036,0.013270,0.007969
3,5.0,0.226116,0.004921,0.001867,0.767097,11786,5.0,0.000010,0.001599,0.000258
4,6.0,0.374791,0.037601,0.001827,0.585782,6569,6.0,0.000021,0.001450,0.000356
5,7.0,0.775097,0.073059,0.005607,0.146236,42445,7.0,0.000696,0.003887,0.001024

In [69]:
new.columns

Index(['taxi_zone', 'total_public_transpo', 'walked', 'taxi',
       'total_car_van_truck', 'temp_sum', 'PUlocationID', 'new_taxi', 'FHV',
       'FHV_share'],
      dtype='object')

In [74]:
os.chdir('/Users/katharinevoorhees/CAPSTONE/')
lehd_adjust = pd.read_csv('taxi_zone_wages_raw.csv')
lehd_adjust.sort_values('PUlocationID').tail()

,DOlocationID,PUlocationID,LEHD_total_pair_count,2500,7500,12500,17500,22500,30000,42500,62500,87500,125000,225000,median_household_income
18331,87.0,263.0,470,9.077847,8.344424,14.419385,12.315982,16.259863,20.079202,27.759392,69.868979,58.881463,91.844011,141.149452,89057.0
49433,232.0,263.0,22,0.424921,0.390590,0.674950,0.576493,0.761100,0.939878,1.299376,3.270463,2.756154,4.299081,6.606996,89057.0
18080,86.0,263.0,2,0.038629,0.035508,0.061359,0.052408,0.069191,0.085443,0.118125,0.297315,0.250559,0.390826,0.600636,89057.0
19311,91.0,263.0,8,0.154517,0.142033,0.245436,0.209634,0.276764,0.341774,0.472500,1.189259,1.002238,1.563302,2.402544,89057.0
56534,263.0,263.0,434,8.382523,7.705276,13.314922,11.372630,15.014427,18.541220,25.633141,64.517312,54.371393,84.809151,130.338005,89057.0

In [75]:
len(lehd_adjust.PUlocationID.unique())

260

In [76]:
limdf = lehd_adjust[lehd_adjust.PUlocationID != lehd_adjust.DOlocationID]

In [77]:
limdf.head()

,DOlocationID,PUlocationID,LEHD_total_pair_count,2500,7500,12500,17500,22500,30000,42500,62500,87500,125000,225000,median_household_income
1,3.0,4.0,1,0.070217,0.083930,0.116010,0.065062,0.063911,0.082528,0.103498,0.139483,0.068065,0.119664,0.087633,57788.0
2,3.0,5.0,2,0.044209,0.035588,0.066976,0.047745,0.048408,0.114279,0.224580,0.345491,0.212865,0.399867,0.459991,81420.5
3,3.0,6.0,1,0.050462,0.032627,0.046169,0.041018,0.038325,0.068415,0.087890,0.119658,0.118487,0.151192,0.245756,67361.0
4,3.0,7.0,7,0.257919,0.285195,0.333903,0.297581,0.234586,0.423943,0.596832,0.848628,0.724122,1.033718,1.963572,79656.0
5,3.0,9.0,3,0.096439,0.044976,0.077411,0.099034,0.095574,0.175580,0.358945,0.562635,0.358945,0.587286,0.543174,76912.0

In [34]:
OG = list(limdf.PUlocationID.unique())
OG_ = []
totals = []
for i in OG: 
    OG_.append(i)
    adding = limdf[limdf.PUlocationID == i]['LEHD_total_pair_count'].sum()
    totals.append(adding)
    
df = pd.DataFrame(totals, OG_).reset_index()
df.head()

   index      0
0    4.0  10617
1    5.0   8229
2    6.0   5269
3    7.0  36688
4    9.0   6229

In [78]:
new = new.merge(df, left_on='taxi_zone', right_on='index')

In [79]:
new.head()

,taxi_zone,total_public_transpo,walked,taxi,total_car_van_truck,temp_sum,PUlocationID,new_taxi,FHV,FHV_share,index,0
0,3.0,0.446290,0.054976,0.002905,0.495828,13424,3.0,0.000013,0.002050,0.000842,3.0,8706
1,4.0,0.653460,0.247877,0.025276,0.073387,10247,4.0,0.004036,0.013270,0.007969,4.0,10617
2,5.0,0.226116,0.004921,0.001867,0.767097,11786,5.0,0.000010,0.001599,0.000258,5.0,8229
3,6.0,0.374791,0.037601,0.001827,0.585782,6569,6.0,0.000021,0.001450,0.000356,6.0,5269
4,7.0,0.775097,0.073059,0.005607,0.146236,42445,7.0,0.000696,0.003887,0.001024,7.0,36688

In [80]:
cols = ['total_public_transpo', 'walked','new_taxi', 'FHV', 'FHV_share', 'total_car_van_truck']
for i in cols: 
    new[i] = new[i] * new[0]
new.head()

,taxi_zone,total_public_transpo,walked,taxi,total_car_van_truck,temp_sum,PUlocationID,new_taxi,FHV,FHV_share,index,0
0,3.0,3885.402712,478.622467,0.002905,4316.681764,13424,3.0,0.115434,17.843262,7.334361,3.0,8706
1,4.0,6937.780033,2631.714648,0.025276,779.153313,10247,4.0,42.851015,140.891180,84.609811,4.0,10617
2,5.0,1860.706347,40.495673,0.001867,6312.437553,11786,5.0,0.081377,13.158607,2.120444,5.0,8229
3,6.0,1974.772111,198.118892,0.001827,3086.483787,6569,6.0,0.109017,7.637848,1.878344,6.0,5269
4,7.0,28436.765508,2680.397880,0.005607,5365.117587,42445,7.0,25.522468,142.614028,37.582529,7.0,36688

In [82]:
new.rename(columns={'new_taxi':'P(mode1)','FHV':'P(mode2)','FHV_share':'P(mode3)'
                   ,'total_public_transpo':'P(mode4)','walked':'P(mode5)', 
                   'total_car_van_truck':'P(mode6)'},inplace=True)
new = new[['taxi_zone','P(mode1)','P(mode2)','P(mode3)','P(mode4)','P(mode5)', 'P(mode6)']]
new.head()

,taxi_zone,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
0,3.0,0.115434,17.843262,7.334361,3885.402712,478.622467,4316.681764
1,4.0,42.851015,140.891180,84.609811,6937.780033,2631.714648,779.153313
2,5.0,0.081377,13.158607,2.120444,1860.706347,40.495673,6312.437553
3,6.0,0.109017,7.637848,1.878344,1974.772111,198.118892,3086.483787
4,7.0,25.522468,142.614028,37.582529,28436.765508,2680.397880,5365.117587

In [83]:
new.tail()

,taxi_zone,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
238,259.0,0.458999,49.350904,19.972887,6172.661676,616.206964,5791.348569
239,260.0,17.568541,81.003213,23.376620,12114.056335,864.512997,4051.482293
240,261.0,9.275155,10.068801,1.332307,1650.124853,946.336663,89.862221
241,262.0,486.958660,276.121791,175.850061,9383.334176,2174.915351,1680.819962
242,263.0,424.285470,219.780064,106.859181,15349.517048,2684.573355,1349.984881

In [90]:
os.chdir('/Users/katharinevoorhees/Downloads/')
!ls

05-Oct-2018-1617 illegally parked bikes.gpx
05-Oct-2018-1624 smokers.gpx
10.1038_s41562-018-0521-2.ris
18-1038 295.jpg
2016CountyHealthIndicators.csv
2018-Urban-spatial-analytics_Lab01_creating_shapefiles (1).pdf
2018-Urban-spatial-analytics_Lab01_creating_shapefiles.pdf
2018-Urban-spatial-analytics_Lab02_spatial-joins.pdf
2018-Urban-spatial-analytics_Lab03_spatial-autocorrelation-analysis (1).pdf
2018-Urban-spatial-analytics_Lab03_spatial-autocorrelation-analysis.pdf
2018-Urban-spatial-analytics_Lecture04_spatial-clustering.pdf
311DataForClustering.csv
3_4_2019_Towards a .pdf
ACCESS Screening Analysis.ipynb
ACS_09_5YR_B02001
ACS_09_5YR_B02001.zip
ACS_09_5YR_B25077
ACS_09_5YR_B25077.zip
ACS_09_5YR_S1501
ACS_09_5YR_S1501.zip
ACS_14_5YR_B02001
ACS_14_5YR_B02001.zip
ACS_14_5YR_B25077
ACS_14_5YR_B25077.zip
ACS_14_5YR_S1501
ACS_14_5YR_S1501.zip
ACS_16_5YR_B01002
ACS_16_5YR_B01002.zip
ACS_17_1YR_GCT2801.ST50
ACS_17_1YR_GCT2801.ST50.zip
ACS_17_5YR_B01003.pdf
ACS_2016_5YR_TRACT_36_NEW_YORK.gdb
ACS_2016_5YR_TRACT_36_NEW_YORK.gdb 2
ACS_Sample (1).ipynb
ACS_Sample.ipynb
ADS Final Project Report (1).pdf
ADS Final Project Report.pdf
ADS HW1.ipynb
ADS2018_Hand-written-digits-tasks.ipynb
ADS2018_Homework3 _1_.ipynb
ADS2018_PCA_part2_311example.ipynb
ADS2018_Session 04-03_Polynomial.ipynb
ADS2018_Session 04-04_Regularization.ipynb
ADS2018_dimensionality_reduction.ipynb
ADS_HW1_Key.ipynb
ADS_HW1_kv871.ipynb
ADS_HW2.ipynb
ADS_HW2_Key.ipynb
ADS_HW2_kv871 (1).ipynb
ADS_HW2_kv871.ipynb
ADS_HW3_kv871.ipynb
ADS_HW4.ipynb
ADS_HW4_kv871.ipynb
ADS_HW5_kv871.ipynb
ADS_HW6.ipynb
ADS_HW7.ipynb
ADS_HW7_kv871.ipynb
ADS_midterm_quiz_kv871.ipynb
ADS_project
Agenda.Setting.ICT..pptx
Air Train Expansion
Air Train Expansion.pdf
Air Train Expansion.pptx
An investigation on the performances of mode shift modelsin transit ridership forecasting.pdf
Anchor Institutions and Social Connectedness _Katharine Voorhees, katievoo, kv_871_.pdf
Anchor_Institutions_FINAL102615 (1).pdf
Anchor_Institutions_FINAL102615.pdf
AnomalyDetectionPractice.ipynb
AnomalyDetectionPracticeSolution.ipynb
Are you thirsty??.png
Are you thirsty_.pdf
Are you thirsty_.png
Assignment1_kv871_revised.ipynb
Asthma Hospitalizations (Adults) by NTA.csv
Asthma Hospitalizations (Children 5 to 17 Yrs Old) by NTA.csv
Atom.app
Aug 22, Doc 1 (1).pdf
Aug 22, Doc 1.pdf
BDM Lab 5.ipynb
BDM_02_05_Lab2.ipynb
BDM_02_05_Lab2_Keys (1).ipynb
BDM_02_05_Lab2_Keys.ipynb
BDM_02_12_Lab3.ipynb
BDM_02_12_Lab3_Keys.ipynb
BDM_02_19_Lab4_Keys (1).ipynb
BDM_02_19_Lab4_Keys.ipynb
BDM_04_02_Lab7_Spark_ML.ipynb
BDM_HW2_HOF_cb4221.ipynb
BDM_HW2_HOF_kv871.ipynb
BDM_HW3_MR.ipynb
BDM_HW3_MR_Keys.ipynb
BDM_HW3_MR_kv871 (1).ipynb
BDM_HW3_MR_kv871.ipynb
BDM_HW4_Spark (1).ipynb
BDM_HW4_Spark.ipynb
BDM_HW4_Spark_cb4221.ipynb
BDM_HW4_Spark_kv871-worksheet.ipynb
BDM_HW4_Spark_kv871.ipynb
BDM_Lab4.ipynb
BDM_Lab5.ipynb
Bayesian Networks Lab Session_Practice.ipynb
Bayesian Networks Lab Session_Practice_with_Solutions.ipynb
Bayesian soup to nuts.R
Beijing_PM2.5.csv
Big Data HW 1.ipynb
Bios.docx
Boarding Pass _ Frontier Airlines.pdf
Borough Boundaries
Borough Boundaries.zip
Bridge.csv
Building Footprints
Burden of diarrheal illness by country.csv
CANVA_proof_order_PADfNYaghJo.pdf
CAPSTONE 2nd Progress Report.jpg
Capstone Progress Report 2 (1).pdf
Capstone Progress Report 2 (2).pdf
Capstone Progress Report 2 (3).pdf
Capstone Progress Report 2.pdf
Citywide_Crime_Stats_Data_Dictionary (1).xlsx
Citywide_Crime_Stats_Data_Dictionary (2).xlsx
Citywide_Crime_Stats_Data_Dictionary (3).xlsx
Citywide_Crime_Stats_Data_Dictionary.xlsx
Civic Analytics Syllabus fall 2018_ _1_ (1).docx
Civic Analytics Syllabus fall 2018_ _1_ (2).docx
Civic Analytics Syllabus fall 2018_ _1_.docx
Code for Ursula .ipynb
CollegesUniversities
CollegesUniversities.zip
ConferencePaper_WorkplaceData.docx
CongestionSurchageApproach_question (1).docx
CongestionSurchageApproach_question.docx
Congestion_capstone_1_SS.pdf
Congestion_capstone_1_review.pdf
Congestion_capstone_draft2 (1).pdf
Congestion_capstone_draft2.pdf
Congestion_capstone_paper1.pdf
ConsolidatedCity_2010Census_DP1.zip
Copy of Civic Analytics groups 10.31.18.xlsx
Copy of White, Black and Green Photograph Business Proposal.png
County_Country.csv
County_info.csv
Criminal justice datasets.pdf
DACJS.ipynb
DAJCS Mid-Semester Presentation
DAJCS Mid-Semester Presentation.zip
DAJCS Project Proposal.docx
DATA ANALYSIS USING REGRESSION AND MODELS.pdf
DA_WISE_Multipatch
DA_WISE_Multipatch.zip
DBSCAN_Lab_Session.ipynb
DOE_High_School_Directory_2014-2015 (1).csv
DOE_High_School_Directory_2014-2015.csv
DOHMH_AirQuality_DataDictionary (1).xlsx
DOHMH_AirQuality_DataDictionary.xlsx
DSNY_Monthly_Tonnage_Data.csv
Data Sharing Agreement_encrypted_.pdf
Data goverance project.docx
Data2Go.Full.Dataset 2018.xlsx
Data_Extract_From_World_Development_Indicators_Metadata.xlsx
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (1).png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (1).zip
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (2)
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (2).png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (2).zip
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (3)
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (3).png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (3).zip
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (4).png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (5).png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods (6).png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods.png
Discernment of High-Impact Urban Air Pollutants Using Unsupervised and Supervised Machine Learning Methods.zip
Docker.dmg
DropboxInstaller.dmg
FINAL_PAPER_GUIDELINES _1_.docx
Figure2.png
Figure3.png
Final Presentation Groups and Locations.xlsx
Final_ALER07.pdf
GPLab with Answers.ipynb
GPLab.ipynb
GP_CO2.csv
GP_Inter_P.csv
GX 5004.001 Session 5 A Brief Digression on PCA (1).ipynb
GX 5004.001 Session 5 A Brief Digression on PCA.ipynb
GX 6004.001 Session 1 After Class (1).ipynb
GX 6004.001 Session 1 After Class.ipynb
GX 6004.001 Session 1.ipynb
GX 6004.001 Session 10 After Class.ipynb
GX 6004.001 Session 10 Uncompiled (1).ipynb
GX 6004.001 Session 10 Uncompiled.ipynb
GX 6004.001 Session 11 (1).ipynb
GX 6004.001 Session 11.ipynb
GX 6004.001 Session 2 After Class.ipynb
GX 6004.001 Session 2.ipynb
GX 6004.001 Session 3 After Class.ipynb
GX 6004.001 Session 3.ipynb
GX 6004.001 Session 6 After Class.ipynb
GX 6004.001 Session 6 Uncompiled.ipynb
GX 6004.001 Session 7 After Class.ipynb
GX 6004.001 Sessions 8 and 9 Compiled.ipynb
Gaining the upper hand Economic mobility among immigrant and domestic minorities.pdf
GitHub Desktop.app

H1_83366_2018-04-06.jpg
H1_83446_2018-04-06.jpg
HW1 answers.ipynb
HW1-Decision+Trees+and+Random+Forests_kv871.ipynb
HW11_mbh329_assn_2_redoof_HW8 (1).ipynb
HW1_streaming (1).py
HW1_streaming.py
HW2_task1.csv
HW2_task2.csv
HW2_task4_test.csv
HW2_task4_train.csv
HW2_task5_test.csv
HW2_task5_train.csv
HW2_task5_unlabeled.csv
HW3Q1.png
HW3Q2.csv
HW3Q3_1.csv
HW3Q3_2.csv
HW4AnomalyDetectionBaysianNet_kv871.ipynb
HW6_Assignment1_cb4221.ipynb
HW8_Assignment1_kv871.ipynb
Homework 1.xlsx
Homework 2.ipynb
Homework 2_solutions.ipynb
Homework_2_kv871.ipynb
IMG_0557.jpg
IMG_0913.jpg
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 2 (1).pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 2 (2).pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 2 _SUBMITTED.pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 2.pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 3 (1).pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 3 (2).pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 3.pdf
Impact of Manhattan Congestion Surcharge on For-Hire Vehicles Report 3_submission.pdf
Impact of Manhattan Congestion Surcharge on For-Hired Vehicles Report 2 (1).pdf
Impact of Manhattan Congestion Surcharge on For-Hired Vehicles Report 2 (2).pdf
Impact of Manhattan Congestion Surcharge on For-Hired Vehicles Report 2 (3).pdf
Impact of Manhattan Congestion Surcharge on For-Hired Vehicles Report 2 (4).pdf
Impact of Manhattan Congestion Surcharge on For-Hired Vehicles Report 2.pdf
Install Spotify.app
Inventory_of_New_York_City_Greenhouse_Gas_Emissions_-_Citywide_GHG_Emissions_Summary__2016_ (1).csv
Inventory_of_New_York_City_Greenhouse_Gas_Emissions_-_Citywide_GHG_Emissions_Summary__2016_.csv
JC-201808-citibike-tripdata.csv.zip
K. Voorhees Baruch Cover Letter.pdf
K. Voorhees Resume 3-16-18.pdf
K. Voorhees Resume.docx
Keeping Score- Predictive Analytics in Policing.pdf
KesslerLevitt1999.pdf
Kingdon 71-98, 116-144, 165-182-1.pdf
Kitematic-Mac.zip
Kleiman Striking A _Local_ Grand Bargain.pdf
LCGMS_-_DOE_SCHOOL_INFORMAITON_REPORT.xlsx
Lab6_03_26 (1).ipynb
Lab6_03_26.ipynb
Lecture 11.ipynb
M60_Barclays_travel_time.csv
MLC HW 3.ipynb
MLC Lecture 1.ppt
MLC Lectures 8-9.ppt
ML_for_cities_2019_Spring_Syllabus.pdf
Manhattan 311 Rodent Complaints.csv
MeanZIP.csv
Midterm_kv871_final.ipynb
More practice questions for MLC (1).doc
More practice questions for MLC.doc
NYC_individual_commercial (1).csv
NYC_individual_commercial (2).csv
NYC_individual_commercial.csv
NYC_taxi_sample (1).csv
NYC_taxi_sample.csv
NYPD_Arrest_Historic_DataDictionary (1).xlsx
NYPD_Arrest_Historic_DataDictionary.xlsx
NYPD_Complaint_Historic_DataDictionary.xlsx
NYPD_Complaint_Incident_Level_Data_Footnotes.pdf
NYU CUSP
NYU CUSP (1)
NYU CUSP (1).png
NYU CUSP (1).zip
NYU CUSP (2).png
NYU CUSP (2).zip
NYU CUSP (3)
NYU CUSP (3).png
NYU CUSP (3).zip
NYU CUSP (4)
NYU CUSP (4) 2
NYU CUSP (4).png
NYU CUSP (4).zip
NYU CUSP (5)
NYU CUSP (5).png
NYU CUSP (5).zip
NYU CUSP (6).png
NYU CUSP (7).png
NYU CUSP (8).png
NYU CUSP.pdf
NYU CUSP.png
NYU CUSP.zip
NYU_Print_Service_NY_COMBO_v909.pkg
Natl_WI_SHP
Networks_flows_and_fluids-reimagining_spatial_anal.pdf
New_York_City_Population_By_Census_Tracts.csv
OReilly.Statistics.in.a.Nutshell.A.Desktop.Quick.Reference.Aug.2008.pdf
OutdoorAirandHealthInfoSource.csv
PDCode_PenalLaw (1).xlsx
PDCode_PenalLaw (2).xlsx
PDCode_PenalLaw.xlsx
PEP_2017_PEPANNRES
PEP_2017_PEPANNRES.zip
PLUSCorrespondence.pdf
PUI2018_HW6_2_kv871.ipynb
Performance_Indicators_by Agency.xls
Performance_XML_Data.zip
PittsburghTrafficCounts.csv
Police Precincts.zip
Practice questions for MLC.ppt
Project 1 (1).pdf
Project 1 - Women in Need.docx
Project 1.pdf
Project 2 (1).pdf
Project 2 - Wifind.docx
Project 2.pdf
Public Use Microdata Areas (PUMA)
Public Use Microdata Areas (PUMA).zip
PySparkRecipes.pdf
Pyspark.ipynb
Q70bus_travel_time.csv
R_Studio_lab
R_Studio_lab.zip
Readme.txt
RegistrationCard.Pdf
Remote-Booth-Station (1).xls
Remote-Booth-Station.xls
SAT_Results (1).csv
SAT_Results.csv
SI Sales (1).dta
SI Sales.dta
SQL_query_cb4221.ipynb
SSO (1)
Sceme_ApproachA (1).pptx
Sceme_ApproachA.pptx
SecureMessage (1).pdf
SecureMessage (2).pdf
SecureMessage (3).pdf
SecureMessage (4).pdf
SecureMessage (5).pdf
SecureMessage (6).pdf
SecureMessage (7).pdf
SecureMessage.pdf
Sep 22, Doc 1.pdf
Session 2.Numpy, Pandas and Sklearn.ipynb
Session 3-Decision trees and random forests_practice with answers.ipynb
Session 3-Decision trees and random forests_practice.ipynb
Session 4 - SVM-Practice with answers.ipynb
Session 4 - SVM-Practice.ipynb
Session 5-Naive Bayes and EM with answers.ipynb
Session 5-Naive Bayes and EM.ipynb
Session 6-Clustering with answers.ipynb
Session 6-Clustering.ipynb
Session_1_Introduction_to_Python_Practice.ipynb
Session_1_Introduction_to_Python_Practice_with_answers.ipynb
Source.xls
Spatial Analytics Data.ipynb
Student Account - Spring 2019.pdf
Tiffany Patafio's Personal Meeting Room-20181029 1702-1.arf
TiffanysDataset0417.hyper
Unconfirmed 35553.crdownload
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Untitled5.ipynb
Untitled6.ipynb
Untitled7.ipynb
Untitled8.ipynb
Untitled9.ipynb
Urban_Form_and_GHG_Emissions_-_Mehaffy.pdf
Water_Consumption_In_The_New_York_City.csv
White, Black and Green Photograph Business Proposal (1).pdf
White, Black and Green Photograph Business Proposal.pdf
ZIP_CODE_040114 (1).zip
ZIP_CODE_040114 (2).zip
ZIP_CODE_040114.zip
ZillowNeighborhoods-NY (1).zip
ZillowNeighborhoods-NY.geojson
ZillowNeighborhoods-NY.zip
ZillowNeighborhoodsNY.dbf
ZillowNeighborhoodsNY.prj
ZillowNeighborhoodsNY.shp
ZillowNeighborhoodsNY.shx
Zip_MedianListingPricePerSqft_AllHomes.csv
__pycache__
aac4716.full.pdf
access-nyc-patterns.sketch
acs16_final.csv
adjusted_day_MODEL_RESULTS.csv
adult.csv
again.csv
age
age.csv
aggr311.csv
all_emissions_by_neighborhood (1).cpg
all_emissions_by_neighborhood.cpg
all_emissions_by_neighborhood.dbf
all_emissions_by_neighborhood.prj
all_emissions_by_neighborhood.shp
all_emissions_by_neighborhood.shx
all_nta.csv
all_nta_w_target (1).csv
all_nta_w_target (2).csv
all_nta_w_target.csv
anchor_export.NV-NYU-RDS1.157552.131228.sr (1).lock
anchor_export.NV-NYU-RDS1.157552.131228.sr (2).lock
anchor_export.NV-NYU-RDS1.157552.131228.sr.lock
anchor_export.NV-NYU-RDS3.27156.11396.sr.lock
anchor_inst.emf
anchor_inst.png
anchor_inst_alocal.png
anchor_inst_clust.png
anchor_inst_hot.png
anchor_inst_unemp.png
area_model_results.csv
atom-mac.zip
barchart.html
birthdays.csv
block_population_4yr
book.txt
boroughs.geojson
bus_frequency_M60.csv
bus_frequency_Q48.csv
bus_frequency_Q70.csv
bus_frequency_Q72.csv
bus_waits_M60 (1).csv
bus_waits_M60.csv
bus_waits_Q48.csv
bus_waits_Q70.csv
bus_waits_Q70_Dec11_2pm.csv
bus_waits_Q72.csv
cb_2017_36_bg_500k.zip
cb_2017_36_tract_500k
cb_2017_36_tract_500k.zip
cb_2017_us_county_500k
cb_2017_us_county_500k.zip
cb_2017_us_ua10_500k (1).zip
cb_2017_us_ua10_500k (2)
cb_2017_us_ua10_500k (2).zip
cb_2017_us_ua10_500k.zip
cb_2017_us_zcta510_500k.zip
citibike.csv
citibike_docking_events.csv
citiesTable.csv
citiesToCities.csv
clusteredValues01.png
co-est2017-alldata.csv
ct_mn.csv
dacjs
dacjs.pdf
dacjs.zip
data
data-pvLFI (1).csv
data-pvLFI.csv
data.csv
data.zip
data_school-master
data_school-master.zip
day.csv
demographicsnapshot201314to201718public_final.xlsx
deployment of police and ambulences.pdf
distance matrix.ipynb
dot_18425_DS1 (1).pdf
dot_18425_DS1.pdf
download-1.png
download.png
drug_illegal.txt
drug_sched2.txt
edges.csv
enron_mails_small (1).csv
enron_mails_small.csv
exportgantt.xlsx
figures_Workbook1_results_table.csv
final project guidelines 20181002 (1).pptx
final project guidelines 20181002 (2).pptx
final project guidelines 20181002 (3).pptx
final project guidelines 20181002 (4).pptx
final project guidelines 20181002 (5).pptx
final project guidelines 20181002 _1_.pptx
final project guidelines 20181002.pptx
final_acs_transportation_choice.csv
final_challenge_kv871.py
find_average.py
genderIncomeBias.ipynb
geopandas_census_kv871 (1).ipynb
geopandas_census_kv871.ipynb
get_mta_data (1).ipynb
get_mta_data.ipynb
googlechrome.dmg
gravity model
gravity model.zip
green.csv
header.csv
header2.csv
header3.csv
header4.csv
heroku.pkg
homework5_bdm.ipynb
homework_5_kv871 (1).py
homework_5_kv871.py
hour.csv
household_power_consumption.zip
housing.csv
htaindex_data_nta (1).csv
htaindex_data_nta.csv
htaindex_data_tracts_36.csv
htaindex_data_tracts_36.zip
hw1_9_26.ipynb
hw3_2.ipynb
hw3_3.py
hyperloop-one-routes-master
hyperloop-one-routes-master.zip
ibm2001 (1).pdf
ibm2001.pdf
joc91749.pdf
journal.pone.0166083.g005.PNG
journal.pone.0166083.g006.PNG
journal.pone.0202964.t002.PNG
jre-8u201-macosx-x64.dmg
kaggle.json
kv871_Voorhees, Katharine(kv871)_Submission attachment(s)_beautiful_stress_free_final (1).ipynb
kv871_Voorhees, Katharine(kv871)_Submission attachment(s)_beautiful_stress_free_final.ipynb
kv_project1.jpg
kv_project1.png
laucntycur14.xlsx
laucntycur14.zip
lecture01_2018.ppt
lecture08_2018.ppt
lehd_census_ny_geo_crosswalk.csv
lesmis.gml
line_chart.html
lion
locations.csv
locations_by_service
log.json
log_lines.html
mac-pdfelement6_full2991.dmg
mapreduce.py
metadata.json
midtermsMorning_Voorhees, Katharine(kv871)_Submission attachment(s)_Midterm_kv871_final final_graded-checkpoint (1).ipynb
midtermsMorning_Voorhees, Katharine(kv871)_Submission attachment(s)_Midterm_kv871_final final_graded-checkpoint.ipynb
mobility_geo.pdf
model_test_1.ipynb
modeling.ipynb
models_all .ipynb
models_all_testing.ipynb
mp201176.ris
multiline_plot.html
mygeodata
mygeodata.zip
neighborhood_movement.gif
neighborhoods.geojson
new.csv
nodes.csv
ny_xwalk.csv.gz
nyc2010census_tabulation_equiv (1).xlsx
nyc2010census_tabulation_equiv.xlsx
nyc_facilities (1).csv
nyc_facilities.csv
nyc_grads.csv
nycb2010_19a.zip
nycb2010_metadata.pdf
nyclion_18c.zip
nyct2010_19a.zip
nynta_18c (1).zip
nynta_18c.zip
nypp_metadata.pdf
nyu_2451_34170
nyu_2451_34504.zip
nyu_2451_34504_doc.zip
nyu_2451_36743.zip
old_bike_traffic.jpeg
old_chicago_traffic.jpg
old_traffic.jpeg
omg.csv
omg1.csv
omg2.csv
omg4.csv
omg5.csv
out.csv
out2.csv
out3.csv
paper.pdf
pickups.csv
pluto_datadictionary (1).pdf
pluto_datadictionary.pdf
poly_example.csv
population model cloropleths.ipynb
precinct_blocks_key.csv
precinct_pop_m.csv
project 3 - EMS.docx
project_1 (1).mxd
project_1 (2).mxd
project_1 (3).mxd
project_1.mxd
racial_events_paper.pdf
real_income_US.csv
regress1.csv
results_table.csv
revised_plot.png
sale.csv
sales_si_03 (1).xls
sales_si_03.xls
sales_si_04 (1).xls
sales_si_04.xls
sales_si_05 (1).xls
sales_si_05.xls
sales_si_06 (1).xls
sales_si_06.xls
sample-service-level-agreement_ed.docx
scopusresults.pdf
sessionNA1.ipynb
sessionNA2.ipynb
session_3_stop.csv
show (1).pdf
show.pdf
show_bus_locations_kv871.py
sketch-54-76480.zip
socialconnectedness.pdf
sophia moore (1).pdf
sophia moore (2).pdf
sophia moore (3).pdf
sophia moore (4).pdf
sophia moore (5).pdf
sophia moore (6).pdf
sophia moore (7).pdf
sophia moore (8).pdf
sophia moore.pdf
statepov.xls
stopfrisk_noarrest_rate.csv
subway_gaps_log_Dec10_2pm
subway_gaps_log_Dec11_2pm
syllabus.pdf
task11.py
task9.py
taxi+_zone_lookup (1).csv
taxi+_zone_lookup (2).csv
taxi+_zone_lookup.csv
taxi_proportions.csv
taxi_zone_wages_raw.csv
taxi_zones_data_dict.xlsx
taximarkov.dta
tbill3_2006_to_2016.csv
test.html
tree.dot
treepp.csv
turnstile.png
turnstile_181103.txt
tweets_sample_from_dumbo.csv
uber-raw-data-apr14.csv
uber-raw-data-apr14.csv.zip
uber-raw-data-aug14.csv
uber-raw-data-aug14.csv.zip
uber-raw-data-jul14.csv
uber-raw-data-jul14.csv.zip
uber-raw-data-jun14.csv
uber-raw-data-jun14.csv.zip
uber-raw-data-may14.csv
uber-raw-data-may14.csv.zip
uber-raw-data-sep14.csv
uber-raw-data-sep14.csv.zip
uber_late.csv
uber_late_mn
uber_late_mn.csv
unemp_county.csv
unemp_county2.csv
use-of-force-incident-category-3q-2018.xlsx
use-of-force-subject-injury-3q-2018.xlsx
variable_types.pdf
vi_2007-2009_15city_24hr_versus_max4hr_122712.xlsx
walkability_index_mlc.csv
waste.csv
welfare effects of congestion pricing .pdf
yellow_taxi_sample.csv
yellow_taxi_sample_2.csv
yelp-dataset
zbp06totals.zip
~$Homework 1.xlsx
~$PDCode_PenalLaw (2).xlsx
~$PDCode_PenalLaw.xlsx

In [ ]:
!ls

In [91]:
new.to_csv('final_acs_transportation_choice.csv', index=False)

In [92]:
new.head()

,taxi_zone,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
0,3.0,0.115434,17.843262,7.334361,3885.402712,478.622467,4316.681764
1,4.0,42.851015,140.891180,84.609811,6937.780033,2631.714648,779.153313
2,5.0,0.081377,13.158607,2.120444,1860.706347,40.495673,6312.437553
3,6.0,0.109017,7.637848,1.878344,1974.772111,198.118892,3086.483787
4,7.0,25.522468,142.614028,37.582529,28436.765508,2680.397880,5365.117587