## Daily Impacts

In [256]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
import timeit
from tqdm import tqdm
from sklearn.model_selection import GridSearchCV
import re

In [257]:
results_scene_1 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario1_mean.csv',index_col=0)#,usecols=range(6))
results_scene_1.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.828172,6.649449,2.759008e-08
10-101,0.000000e+00,7.740615e-28,2.098397e-15,2.354082,25.406733,4.918105e+01
10-102,1.454861e-09,7.388491e-65,1.800968e-56,0.051022,7.632700,2.990798e+01
10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353696,2.722766,1.432569e+01
10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.264959,1.615579,4.696987e+00

In [258]:
results_scene_2 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario2_mean.csv',index_col=0)
results_scene_2.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.828215,6.649401,2.760007e-08
10-101,0.000000e+00,7.760745e-28,2.103854e-15,2.354165,25.406658,4.918104e+01
10-102,1.456814e-09,7.407705e-65,1.805652e-56,0.051028,7.632722,2.990797e+01
10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353690,2.722769,1.432569e+01
10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.264937,1.615578,4.697000e+00

In [259]:
results_scene_3 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario3_mean.csv',index_col=0)#,usecols=range(6))
results_scene_3.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.828203,6.649414,1.601495e-14
10-101,0.000000e+00,7.770634e-28,2.106535e-15,2.354142,25.406678,4.918104e+01
10-102,1.457172e-09,7.417145e-65,1.807953e-56,0.051026,7.632716,2.990797e+01
10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353692,2.722768,1.432569e+01
10-107,0.000000e+00,0.000000e+00,0.000000e+00,49.869840,1.615579,3.211887e+00

In [260]:
wages = pd.read_csv('../modeling/final_allMode_with_2017wage_cleaned_update.csv')
wages.head(5)

,Unnamed: 0,DOlocationID,ODpair,PUlocationID,duration,mode,nest,price,2500,7500,12500,17500,22500,30000,42500,62500,87500,125000,225000
0,0,4,3-4,3,39.695000,2,1,64.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
1,1,4,3-4,3,45.216667,3,1,61.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
2,2,4,3-4,3,83.000000,4,2,5.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
3,3,4,3-4,3,225.933333,5,3,0.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
4,4,4,3-4,3,39.695000,6,4,29.424,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005

In [261]:
# agg_scene_1 = results_scene_1.drop('destination',axis=1).groupby('origin').sum()
# agg_scene_1.head()
# agg_scene_1.columns = [name + '_predicted' for name in agg_scene_1.columns]
# acs = pd.read_csv('final_acs_transportation_choice.csv',index_col=0)
# acs.head()
# acs.columns = [name + '_actual' for name in acs.columns]
# scene_1_combined = agg_scene_1.merge(acs,how='left',left_index=True,right_index=True)
# scene_1_combined.head()

In [262]:
# Renaming for convenience in calculation
results_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_1.columns]
results_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_2.columns]
results_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_3.columns]

In [263]:
results_scene_1.reset_index(inplace=True)
results_scene_2.reset_index(inplace=True)
results_scene_3.reset_index(inplace=True)
results_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

In [264]:
results_scene_1.head()

,ODpair,1,2,3,4,5,6
0,10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.828172,6.649449,2.759008e-08
1,10-101,0.000000e+00,7.740615e-28,2.098397e-15,2.354082,25.406733,4.918105e+01
2,10-102,1.454861e-09,7.388491e-65,1.800968e-56,0.051022,7.632700,2.990798e+01
3,10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353696,2.722766,1.432569e+01
4,10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.264959,1.615579,4.696987e+00

In [265]:
# Getting the origin taxi zone
results_scene_1['origin'] = results_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_scene_2['origin'] = results_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_scene_3['origin'] = results_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

In [266]:
results_scene_1.head()

,ODpair,1,2,3,4,5,6,origin
0,10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.828172,6.649449,2.759008e-08,10
1,10-101,0.000000e+00,7.740615e-28,2.098397e-15,2.354082,25.406733,4.918105e+01,10
2,10-102,1.454861e-09,7.388491e-65,1.800968e-56,0.051022,7.632700,2.990798e+01,10
3,10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353696,2.722766,1.432569e+01,10
4,10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.264959,1.615579,4.696987e+00,10

In [267]:
# Aggregating the number of people in each ODpair by the origin zone
agg_scene_1 = results_scene_1.groupby('origin').sum()
agg_scene_2 = results_scene_2.groupby('origin').sum()
agg_scene_3 = results_scene_3.groupby('origin').sum()

In [268]:
agg_scene_1.columns = agg_scene_1.columns.astype('int')
agg_scene_2.columns = agg_scene_2.columns.astype('int')
agg_scene_3.columns = agg_scene_3.columns.astype('int')

In [269]:
agg_scene_1.head()

,1,2,3,4,5,6
origin,,,,,,
3,3.311202,196.551869,0.048530,4858.407047,1013.583266,2646.069284
4,255.586386,26.467301,0.002885,4403.281834,3518.324628,1991.791573
5,0.000000,119.487407,4.169056,3386.868638,524.934274,3443.316615
6,38.528731,0.013227,56.680988,2757.475339,230.209875,1779.845916
7,130.928285,23.437035,7.541725,26039.810683,1831.405661,9030.608541

In [270]:
pickup_list = wages.PUlocationID.unique()

In [271]:
origin_time_and_money_avg = wages.groupby(['PUlocationID','mode'],as_index=False)['duration','price'].mean()

In [272]:
origin_time_and_money_avg.head()

   PUlocationID  mode    duration      price
0             3     1   38.302359  37.428045
1             3     2   37.718869  56.582192
2             3     3   41.066196  50.717949
3             3     4   81.756356   5.948623
4             3     5  268.553355   0.000000

In [273]:
agg_scene_1.shape

(256, 6)

In [274]:
len(pickup_list)

256

## Status quo Commute Statistics

In [275]:
pivoted_time = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='duration')

In [276]:
commute_time = pivoted_time.multiply(agg_scene_1).sum().sum()

In [277]:
avg_commute_time = commute_time/agg_scene_1.sum().sum()
avg_commute_time

80.60096236584032

In [278]:
pivoted_money = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='price')

In [279]:
commute_cost = pivoted_money.multiply(agg_scene_1).sum().sum()

In [280]:
avg_commute_cost = commute_cost/agg_scene_1.sum().sum()
avg_commute_cost

8.4719982055186

## Subway ridership

In [291]:
agg_scene_3.sum()[0:3].sum()

30070.99586424346

In [295]:
agg_scene_1.sum()

1    9.720936e+03
2    1.475381e+04
3    5.745300e+03
4    1.756041e+06
5    3.071924e+05
6    7.865649e+05
dtype: float64

In [294]:
agg_scene_2.sum()

1    5.793675e+03
2    1.398503e+04
3    8.367045e+03
4    1.778084e+06
5    3.091317e+05
6    7.881317e+05
dtype: float64

In [293]:
agg_scene_2.sum()[0:3].sum()

28145.751241283964

In [292]:
agg_scene_1.sum()[0:3].sum()

30220.042331546683

In [220]:
agg_scene_1.sum()[4]

1756040.673507589

In [221]:
agg_scene_2.sum()[4]

1778084.3584629146

In [222]:
agg_scene_3.sum()[4]

1900406.553350882

In [223]:
agg_scene_2.sum()[4] - agg_scene_1.sum()[4]

22043.684955325676

In [224]:
agg_scene_3.sum()[4] - agg_scene_1.sum()[4]

144365.879843293

In [225]:
agg_scene_3.sum()[4] - agg_scene_2.sum()[4]

122322.19488796731

In [226]:
(agg_scene_2.sum()[4] - agg_scene_1.sum()[4])/agg_scene_1.sum()[4] * 100

1.2553060579909405

In [227]:
(agg_scene_3.sum()[4] - agg_scene_1.sum()[4])/agg_scene_1.sum()[4] * 100

8.221101140836936

In [228]:
(agg_scene_3.sum()[4] - agg_scene_2.sum()[4])/agg_scene_2.sum()[4] * 100

6.87943709227104

### Scenario 1 VS 2

In [229]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_1.columns:
        diff = (agg_scene_2.loc[zone,col]-agg_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 184.93it/s]

In [230]:
time_diff

1550685.4703231545

In [231]:
money_diff

84635.50569066391

In [232]:
population = agg_scene_1.sum().sum()

In [233]:
# Extra commute time per person
time_diff/population

0.5384290897915075

In [234]:
time_diff/population/avg_commute_time *100

0.6680181898419868

In [235]:
# Extra Money spent per person
money_diff/population

0.029387144695159573

In [236]:
money_diff/population/avg_commute_cost *100

0.34687383049747333

### Scenario 1 VS 3

In [237]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_1.columns:
        diff = (agg_scene_3.loc[zone,col]-agg_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==int(col))])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 181.47it/s]

In [238]:
time_diff

7902222.673756203

In [239]:
money_diff

-88340.20101180812

In [240]:
population = agg_scene_2.sum().sum()

In [241]:
# Extra commute time per person
time_diff/population

2.7216258006010774

In [242]:
time_diff/population/avg_commute_time *100

3.376666631159898

In [243]:
# Money saved per person
money_diff/population

-0.030425486629540657

In [244]:
money_diff/population/avg_commute_cost *100

-0.3591299937920396

### Scenario 2 VS 3

In [245]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_2.columns:
        diff = (agg_scene_3.loc[zone,col]-agg_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==int(col))])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 180.48it/s]

In [246]:
time_diff

6351537.203433033

In [247]:
money_diff

-172975.7067024721

In [248]:
population = agg_scene_2.sum().sum()

In [249]:
# Extra commute time per person
time_diff/population

2.187550040035011

In [250]:
time_diff/population/(avg_commute_time+0.23051090439821367) *100

2.706309747344972

In [251]:
# Money saved per person
money_diff/population

-0.059575029162633915

In [252]:
money_diff/population/(avg_commute_cost-0.19852158448750543) *100

-0.7200724905802572

#### Use below code only if you want exact values for the difference in time/money for commuters as it takes a very long time to run (>3 hours). It can also be used to get the difference for each taxi zone (after some minor changes).

In [148]:
# time_total = 0
# money_total = 0
# for pair in tqdm(ODpair_list,position=0):
#     time_pair = 0
#     money_pair = 0
#     for col in results_scene_1.columns:
#         time_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'duration']
#         money_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'price']
#     time_total+=time_pair
#     money_total+=money_pair