## Daily Impacts

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
import timeit
from tqdm import tqdm
from sklearn.model_selection import GridSearchCV
import re

In [15]:
results_1_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.04_1.5.csv',index_col=0)#,usecols=range(6))
results_2_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.05_1.5.csv',index_col=0)#,usecols=range(6))
results_3_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.06_1.5.csv',index_col=0)#,usecols=range(6))
results_4_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.05_1.4.csv',index_col=0)#,usecols=range(6))
results_5_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.05_1.6.csv',index_col=0)#,usecols=range(6))
results_1_scene_1.head()

      P(mode1)  P(mode2)  P(mode3)   P(mode4)  P(mode5)   P(mode6)
3-4        0.0       0.0       0.0   4.652835  0.335085   1.286075
3-7        0.0       0.0       0.0  14.415664  1.958350  15.466983
3-9        0.0       0.0       0.0   0.168665  0.097421   1.226766
3-10       0.0       0.0       0.0   0.188487  0.167608   1.866074
3-11       0.0       0.0       0.0   4.624413  0.195994   0.000385

In [16]:
results_1_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.04_1.5.csv',index_col=0)
results_2_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.05_1.5.csv',index_col=0)
results_3_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.06_1.5.csv',index_col=0)
results_4_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.05_1.4.csv',index_col=0)
results_5_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.05_1.6.csv',index_col=0)
results_1_scene_2.head()

      P(mode1)  P(mode2)  P(mode3)   P(mode4)  P(mode5)   P(mode6)
3-4        0.0       0.0       0.0   4.652835  0.335085   1.286075
3-7        0.0       0.0       0.0  14.415664  1.958350  15.466983
3-9        0.0       0.0       0.0   0.168665  0.097421   1.226766
3-10       0.0       0.0       0.0   0.188487  0.167608   1.866074
3-11       0.0       0.0       0.0   4.624413  0.195994   0.000385

In [17]:
results_1_scene_3 = pd.read_csv('Final_results/Scaled_results_scenario3_0.04_1.5.csv',index_col=0)
results_2_scene_3 = pd.read_csv('Final_results/Scaled_results_scenario3_0.05_1.5.csv',index_col=0)
results_3_scene_3 = pd.read_csv('Final_results/Scaled_results_scenario3_0.06_1.5.csv',index_col=0)
results_4_scene_3 = pd.read_csv('Final_results/Scaled_results_scenario3_0.05_1.4.csv',index_col=0)
results_5_scene_3 = pd.read_csv('Final_results/Scaled_results_scenario3_0.05_1.6.csv',index_col=0)
results_1_scene_3.head()

      P(mode1)  P(mode2)  P(mode3)   P(mode4)  P(mode5)   P(mode6)
3-4        0.0       0.0       0.0   5.391788  0.335085   0.863334
3-7        0.0       0.0       0.0  14.415664  1.958350  15.466983
3-9        0.0       0.0       0.0   0.168665  0.097421   1.226766
3-10       0.0       0.0       0.0   0.188487  0.167608   1.866074
3-11       0.0       0.0       0.0   4.624413  0.195994   0.000385

In [18]:
wages = pd.read_csv('../modeling/final_allMode_with_2017wage_cleaned_update.csv')
wages.head(5)

,Unnamed: 0,DOlocationID,ODpair,PUlocationID,duration,mode,nest,price,2500,7500,12500,17500,22500,30000,42500,62500,87500,125000,225000
0,0,4,3-4,3,39.695000,2,1,64.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
1,1,4,3-4,3,45.216667,3,1,61.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
2,2,4,3-4,3,83.000000,4,2,5.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
3,3,4,3-4,3,225.933333,5,3,0.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
4,4,4,3-4,3,39.695000,6,4,29.424,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005

In [19]:
# agg_scene_1 = results_scene_1.drop('destination',axis=1).groupby('origin').sum()
# agg_scene_1.head()
# agg_scene_1.columns = [name + '_predicted' for name in agg_scene_1.columns]
# acs = pd.read_csv('final_acs_transportation_choice.csv',index_col=0)
# acs.head()
# acs.columns = [name + '_actual' for name in acs.columns]
# scene_1_combined = agg_scene_1.merge(acs,how='left',left_index=True,right_index=True)
# scene_1_combined.head()

In [20]:
# Renaming for convenience in calculation
results_1_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_1_scene_1.columns]
results_1_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_1_scene_2.columns]
results_1_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_1_scene_3.columns]

results_2_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_2_scene_1.columns]
results_2_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_2_scene_2.columns]
results_2_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_2_scene_3.columns]

results_3_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_3_scene_1.columns]
results_3_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_3_scene_2.columns]
results_3_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_3_scene_3.columns]

results_4_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_4_scene_1.columns]
results_4_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_4_scene_2.columns]
results_4_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_4_scene_3.columns]

results_5_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_5_scene_1.columns]
results_5_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_5_scene_2.columns]
results_5_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_5_scene_3.columns]

In [21]:
results_1_scene_1.reset_index(inplace=True)
results_1_scene_2.reset_index(inplace=True)
results_1_scene_3.reset_index(inplace=True)
results_1_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_1_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_1_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

results_2_scene_1.reset_index(inplace=True)
results_2_scene_2.reset_index(inplace=True)
results_2_scene_3.reset_index(inplace=True)
results_2_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_2_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_2_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

results_3_scene_1.reset_index(inplace=True)
results_3_scene_2.reset_index(inplace=True)
results_3_scene_3.reset_index(inplace=True)
results_3_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_3_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_3_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

results_4_scene_1.reset_index(inplace=True)
results_4_scene_2.reset_index(inplace=True)
results_4_scene_3.reset_index(inplace=True)
results_4_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_4_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_4_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

results_5_scene_1.reset_index(inplace=True)
results_5_scene_2.reset_index(inplace=True)
results_5_scene_3.reset_index(inplace=True)
results_5_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_5_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_5_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

In [22]:
results_1_scene_1.head()

  ODpair    1    2    3          4         5          6
0    3-4  0.0  0.0  0.0   4.652835  0.335085   1.286075
1    3-7  0.0  0.0  0.0  14.415664  1.958350  15.466983
2    3-9  0.0  0.0  0.0   0.168665  0.097421   1.226766
3   3-10  0.0  0.0  0.0   0.188487  0.167608   1.866074
4   3-11  0.0  0.0  0.0   4.624413  0.195994   0.000385

In [23]:
# Getting the origin taxi zone
results_1_scene_1['origin'] = results_1_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_1_scene_2['origin'] = results_1_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_1_scene_3['origin'] = results_1_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

results_2_scene_1['origin'] = results_2_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_2_scene_2['origin'] = results_2_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_2_scene_3['origin'] = results_2_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

results_3_scene_1['origin'] = results_3_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_3_scene_2['origin'] = results_3_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_3_scene_3['origin'] = results_3_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

results_4_scene_1['origin'] = results_4_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_4_scene_2['origin'] = results_4_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_4_scene_3['origin'] = results_4_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

results_5_scene_1['origin'] = results_5_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_5_scene_2['origin'] = results_5_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_5_scene_3['origin'] = results_5_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

In [24]:
results_1_scene_1.head()

  ODpair    1    2    3          4         5          6  origin
0    3-4  0.0  0.0  0.0   4.652835  0.335085   1.286075       3
1    3-7  0.0  0.0  0.0  14.415664  1.958350  15.466983       3
2    3-9  0.0  0.0  0.0   0.168665  0.097421   1.226766       3
3   3-10  0.0  0.0  0.0   0.188487  0.167608   1.866074       3
4   3-11  0.0  0.0  0.0   4.624413  0.195994   0.000385       3

In [25]:
# Aggregating the number of people in each ODpair by the origin zone
agg_1_scene_1 = results_1_scene_1.groupby('origin').sum()
agg_1_scene_2 = results_1_scene_2.groupby('origin').sum()
agg_1_scene_3 = results_1_scene_3.groupby('origin').sum()

agg_2_scene_1 = results_2_scene_1.groupby('origin').sum()
agg_2_scene_2 = results_2_scene_2.groupby('origin').sum()
agg_2_scene_3 = results_2_scene_3.groupby('origin').sum()

agg_3_scene_1 = results_3_scene_1.groupby('origin').sum()
agg_3_scene_2 = results_3_scene_2.groupby('origin').sum()
agg_3_scene_3 = results_3_scene_3.groupby('origin').sum()

agg_4_scene_1 = results_4_scene_1.groupby('origin').sum()
agg_4_scene_2 = results_4_scene_2.groupby('origin').sum()
agg_4_scene_3 = results_4_scene_3.groupby('origin').sum()

agg_5_scene_1 = results_5_scene_1.groupby('origin').sum()
agg_5_scene_2 = results_5_scene_2.groupby('origin').sum()
agg_5_scene_3 = results_5_scene_3.groupby('origin').sum()

In [26]:
agg_1_scene_1.columns = agg_1_scene_1.columns.astype('int')
agg_1_scene_2.columns = agg_1_scene_2.columns.astype('int')
agg_1_scene_3.columns = agg_1_scene_3.columns.astype('int')

agg_2_scene_1.columns = agg_2_scene_1.columns.astype('int')
agg_2_scene_2.columns = agg_2_scene_2.columns.astype('int')
agg_2_scene_3.columns = agg_2_scene_3.columns.astype('int')

agg_3_scene_1.columns = agg_3_scene_1.columns.astype('int')
agg_3_scene_2.columns = agg_3_scene_2.columns.astype('int')
agg_3_scene_3.columns = agg_3_scene_3.columns.astype('int')

agg_4_scene_1.columns = agg_4_scene_1.columns.astype('int')
agg_4_scene_2.columns = agg_4_scene_2.columns.astype('int')
agg_4_scene_3.columns = agg_4_scene_3.columns.astype('int')

agg_5_scene_1.columns = agg_5_scene_1.columns.astype('int')
agg_5_scene_2.columns = agg_5_scene_2.columns.astype('int')
agg_5_scene_3.columns = agg_5_scene_3.columns.astype('int')

In [27]:
agg_1_scene_1.head()

,1,2,3,4,5,6
origin,,,,,,
3,4.462693,286.531580,0.028732,4810.958529,1011.191574,2640.339213
4,232.968111,0.257645,0.001515,4842.596277,3509.851627,2093.584765
5,0.000000,26.748950,2.364467,3353.875630,523.604902,3456.916322
6,51.895957,0.010567,124.342579,2732.216841,229.620976,1779.896650
7,144.508999,19.172316,10.405674,25917.759782,1826.714437,9030.461451

In [28]:
pickup_list = wages.PUlocationID.unique()

In [29]:
origin_time_and_money_avg = wages.groupby(['PUlocationID','mode'],as_index=False)['duration','price'].mean()

In [30]:
origin_time_and_money_avg.head()

   PUlocationID  mode    duration      price
0             3     1   38.302359  37.428045
1             3     2   37.718869  56.582192
2             3     3   41.066196  50.717949
3             3     4   81.756356   5.948623
4             3     5  268.553355   0.000000

In [31]:
agg_1_scene_1.shape

(256, 6)

In [32]:
len(pickup_list)

256

## Status quo Commute Statistics

In [111]:
pivoted_time = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='duration')

In [112]:
# Total commute time for all 5 sets
commute_time_1 = pivoted_time.multiply(agg_1_scene_1).sum().sum()
commute_time_2 = pivoted_time.multiply(agg_2_scene_1).sum().sum()
commute_time_3 = pivoted_time.multiply(agg_3_scene_1).sum().sum()
commute_time_4 = pivoted_time.multiply(agg_4_scene_1).sum().sum()
commute_time_5 = pivoted_time.multiply(agg_5_scene_1).sum().sum()

In [113]:
# Average commute time for all 5 sets
avg_commute_time_1 = commute_time_1/agg_1_scene_1.sum().sum()
avg_commute_time_2 = commute_time_2/agg_2_scene_1.sum().sum()
avg_commute_time_3 = commute_time_3/agg_3_scene_1.sum().sum()
avg_commute_time_4 = commute_time_4/agg_4_scene_1.sum().sum()
avg_commute_time_5 = commute_time_5/agg_5_scene_1.sum().sum()
avg_commute_time_1

80.50188225619885

In [114]:
def weighted_mean_and_std(value_set1,value_set2,value_set3,value_set4,value_set5):
    values = np.array([value_set1,value_set2,value_set3,value_set4,value_set5])
    average = (np.average(values, weights=(rmse),axis=0))
    # Fast and numerically precise:
    variance = np.average((values-average)**2, weights=(rmse),axis=0)
    return (average,np.sqrt(np.abs(variance)))

In [115]:
rmse = [0.19999994, 0.2, 0.20000007, 0.20000003, 0.19999997]

In [116]:
# mean and std for individual commute time
weighted_mean_and_std(avg_commute_time_1,avg_commute_time_2,avg_commute_time_3,avg_commute_time_4,avg_commute_time_5)

(80.60289039899904, 0.06358223662088189)

In [117]:
pivoted_money = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='price')

In [118]:
# Total commute cost for all 5 sets
commute_cost_1 = pivoted_money.multiply(agg_1_scene_1).sum().sum()
commute_cost_2 = pivoted_money.multiply(agg_2_scene_1).sum().sum()
commute_cost_3 = pivoted_money.multiply(agg_3_scene_1).sum().sum()
commute_cost_4 = pivoted_money.multiply(agg_4_scene_1).sum().sum()
commute_cost_5 = pivoted_money.multiply(agg_5_scene_1).sum().sum()

In [119]:
# Average commute cost for all 5 sets
avg_commute_cost_1 = commute_cost_1/agg_1_scene_1.sum().sum()
avg_commute_cost_2 = commute_cost_2/agg_2_scene_1.sum().sum()
avg_commute_cost_3 = commute_cost_3/agg_3_scene_1.sum().sum()
avg_commute_cost_4 = commute_cost_4/agg_4_scene_1.sum().sum()
avg_commute_cost_5 = commute_cost_5/agg_5_scene_1.sum().sum()
avg_commute_cost_1

8.470237507940025

In [120]:
# mean and std for individual commute cost
weighted_mean_and_std(avg_commute_cost_1,avg_commute_cost_2,avg_commute_cost_3,avg_commute_cost_4,avg_commute_cost_5)

(8.472995726267149, 0.002390033229233965)

## Subway ridership

In [57]:
# mean and std for subway ridership in scenario-1
weighted_mean_and_std(agg_1_scene_1.sum()[4],agg_2_scene_1.sum()[4],agg_3_scene_1.sum()[4],agg_4_scene_1.sum()[4],agg_5_scene_1.sum()[4])

(1756040.6735075843, 6.707786108597534e-09)

In [59]:
# mean and std for subway ridership in scenario-2
weighted_mean_and_std(agg_1_scene_2.sum()[4],agg_2_scene_2.sum()[4],agg_3_scene_2.sum()[4],agg_4_scene_2.sum()[4],agg_5_scene_2.sum()[4])

(1778145.7943502804, 3382.7631175725273)

In [58]:
# mean and std for subway ridership in scenario-3
weighted_mean_and_std(agg_1_scene_3.sum()[4],agg_2_scene_3.sum()[4],agg_3_scene_3.sum()[4],agg_4_scene_3.sum()[4],agg_5_scene_3.sum()[4])

(1900522.6326651135, 7377.090457609239)

In [60]:
# mean and std for increase in subway ridership from 1 to 2
weighted_mean_and_std(agg_1_scene_2.sum()[4] - agg_1_scene_1.sum()[4], agg_2_scene_2.sum()[4] - agg_2_scene_1.sum()[4],\
            agg_3_scene_2.sum()[4] - agg_3_scene_1.sum()[4], agg_4_scene_2.sum()[4] - agg_4_scene_1.sum()[4],\
                    agg_5_scene_2.sum()[4] - agg_5_scene_1.sum()[4])

(22105.120842696182, 3382.763117572982)

In [38]:
# mean and std for increase in subway ridership
agg_scene_3.sum()[4] - agg_scene_1.sum()[4]

144435.31166229

In [39]:
# mean and std for increase in subway ridership
agg_scene_3.sum()[4] - agg_scene_2.sum()[4]

122351.61614159402

In [62]:
# mean and std for percent increase in subway ridership from scenario 1 to 2
weighted_mean_and_std((agg_1_scene_2.sum()[4] - agg_1_scene_1.sum()[4])/agg_1_scene_1.sum()[4] * 100,\
                      (agg_2_scene_2.sum()[4] - agg_2_scene_1.sum()[4])/agg_2_scene_1.sum()[4] * 100,\
                      (agg_3_scene_2.sum()[4] - agg_3_scene_1.sum()[4])/agg_3_scene_1.sum()[4] * 100,\
                      (agg_4_scene_2.sum()[4] - agg_4_scene_1.sum()[4])/agg_4_scene_1.sum()[4] * 100,\
                      (agg_5_scene_2.sum()[4] - agg_5_scene_1.sum()[4])/agg_5_scene_1.sum()[4] * 100)

(1.2588046037989857, 0.1926358067103377)

In [63]:
# mean and std for percent increase in subway ridership from scenario 1 to 3
weighted_mean_and_std((agg_1_scene_3.sum()[4] - agg_1_scene_1.sum()[4])/agg_1_scene_1.sum()[4] * 100,\
                      (agg_2_scene_3.sum()[4] - agg_2_scene_1.sum()[4])/agg_2_scene_1.sum()[4] * 100,\
                      (agg_3_scene_3.sum()[4] - agg_3_scene_1.sum()[4])/agg_3_scene_1.sum()[4] * 100,\
                      (agg_4_scene_3.sum()[4] - agg_4_scene_1.sum()[4])/agg_4_scene_1.sum()[4] * 100,\
                      (agg_5_scene_3.sum()[4] - agg_5_scene_1.sum()[4])/agg_5_scene_1.sum()[4] * 100)

(8.227711427032911, 0.4200979264833643)

In [64]:
# mean and std for percent increase in subway ridership from scenario 2 to 3
weighted_mean_and_std((agg_1_scene_3.sum()[4] - agg_1_scene_2.sum()[4])/agg_1_scene_2.sum()[4] * 100,\
                      (agg_2_scene_3.sum()[4] - agg_2_scene_2.sum()[4])/agg_2_scene_2.sum()[4] * 100,\
                      (agg_3_scene_3.sum()[4] - agg_3_scene_2.sum()[4])/agg_3_scene_2.sum()[4] * 100,\
                      (agg_4_scene_3.sum()[4] - agg_4_scene_2.sum()[4])/agg_4_scene_2.sum()[4] * 100,\
                      (agg_5_scene_3.sum()[4] - agg_5_scene_2.sum()[4])/agg_5_scene_2.sum()[4] * 100)

(6.881870960800143, 0.21233335187078597)

### Scenario 1 VS 2

In [65]:
time_diff_1 = 0
money_diff_1 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_1_scene_1.columns:
        diff = (agg_1_scene_2.loc[zone,col]-agg_1_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_1+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_1+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 196.88it/s]

In [66]:
time_diff_2 = 0
money_diff_2 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_2_scene_1.columns:
        diff = (agg_2_scene_2.loc[zone,col]-agg_2_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_2+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_2+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 185.47it/s]

In [67]:
time_diff_3 = 0
money_diff_3 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_3_scene_1.columns:
        diff = (agg_3_scene_2.loc[zone,col]-agg_3_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_3+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_3+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 188.40it/s]

In [68]:
time_diff_4 = 0
money_diff_4 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_4_scene_1.columns:
        diff = (agg_4_scene_2.loc[zone,col]-agg_4_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_4+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_4+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 180.29it/s]

In [69]:
time_diff_5 = 0
money_diff_5 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_5_scene_1.columns:
        diff = (agg_5_scene_2.loc[zone,col]-agg_5_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_5+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_5+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 197.92it/s]

In [78]:
# Population is the same for all sets for scenario 1 as we have scaled the values to match the ground truth
population = agg_1_scene_1.sum().sum()

In [86]:
weighted_mean_and_std(time_diff_1/population,time_diff_2/population,time_diff_3/population,time_diff_4/population,time_diff_5/population)

(0.5376001221618046, 0.07711663204317586)

In [122]:
weighted_mean_and_std(time_diff_1/population/avg_commute_time_1 *100, time_diff_2/population/avg_commute_time_2 *100,\
                    time_diff_3/population/avg_commute_time_3 *100, time_diff_4/population/avg_commute_time_4 *100,\
                        time_diff_5/population/avg_commute_time_5 *100)

(0.6668988950001545, 0.09516343741104812)

In [124]:
weighted_mean_and_std(money_diff_1/population/avg_commute_cost_1 *100, money_diff_2/population/avg_commute_cost_2 *100,\
                    money_diff_3/population/avg_commute_cost_3 *100, money_diff_4/population/avg_commute_cost_4 *100, \
                        money_diff_5/population/avg_commute_cost_5 *100)

(0.3239613111358733, 0.17753648468299413)

### Scenario 1 VS 3

In [125]:
time_diff_1 = 0
money_diff_1 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_1_scene_1.columns:
        diff = (agg_1_scene_3.loc[zone,col]-agg_1_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_1+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_1+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 189.10it/s]

In [126]:
time_diff_2 = 0
money_diff_2 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_2_scene_1.columns:
        diff = (agg_2_scene_3.loc[zone,col]-agg_2_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_2+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_2+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 192.11it/s]

In [127]:
time_diff_3 = 0
money_diff_3 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_3_scene_1.columns:
        diff = (agg_3_scene_3.loc[zone,col]-agg_3_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_3+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_3+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 185.52it/s]

In [128]:
time_diff_4 = 0
money_diff_4 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_4_scene_1.columns:
        diff = (agg_4_scene_3.loc[zone,col]-agg_4_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_4+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_4+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 204.96it/s]

In [129]:
time_diff_5 = 0
money_diff_5 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_5_scene_1.columns:
        diff = (agg_5_scene_3.loc[zone,col]-agg_5_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_5+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_5+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 202.63it/s]

In [130]:
# Population is the same for all sets for scenario 1 as we have scaled the values to match the ground truth
population = agg_1_scene_1.sum().sum()

In [131]:
weighted_mean_and_std(time_diff_1/population,time_diff_2/population,time_diff_3/population,time_diff_4/population,time_diff_5/population)

(2.7389076236515626, 0.18192397375811076)

In [134]:
weighted_mean_and_std(time_diff_1/population/avg_commute_time_1 *100, time_diff_2/population/avg_commute_time_2 *100,\
                    time_diff_3/population/avg_commute_time_3 *100, time_diff_4/population/avg_commute_time_4 *100,\
                        time_diff_5/population/avg_commute_time_5 *100)

(3.3978509567679236, 0.22308558993410893)

In [135]:
weighted_mean_and_std(money_diff_1/population/avg_commute_cost_1 *100, money_diff_2/population/avg_commute_cost_2 *100,\
                    money_diff_3/population/avg_commute_cost_3 *100, money_diff_4/population/avg_commute_cost_4 *100, \
                        money_diff_5/population/avg_commute_cost_5 *100)

(-0.4533891814250036, 0.44174064521448486)

## 2.75 dollar Tax Commute Statistics

In [136]:
# Total commute time for all 5 sets
commute_time_1 = pivoted_time.multiply(agg_1_scene_2).sum().sum()
commute_time_2 = pivoted_time.multiply(agg_2_scene_2).sum().sum()
commute_time_3 = pivoted_time.multiply(agg_3_scene_2).sum().sum()
commute_time_4 = pivoted_time.multiply(agg_4_scene_2).sum().sum()
commute_time_5 = pivoted_time.multiply(agg_5_scene_2).sum().sum()

In [137]:
# Average commute time for all 5 sets
avg_commute_time_1 = commute_time_1/agg_1_scene_2.sum().sum()
avg_commute_time_2 = commute_time_2/agg_2_scene_2.sum().sum()
avg_commute_time_3 = commute_time_3/agg_3_scene_2.sum().sum()
avg_commute_time_4 = commute_time_4/agg_4_scene_2.sum().sum()
avg_commute_time_5 = commute_time_5/agg_5_scene_2.sum().sum()
avg_commute_time_2

80.4803758317127

In [138]:
# mean and std for individual commute time
weighted_mean_and_std(avg_commute_time_1,avg_commute_time_2,avg_commute_time_3,avg_commute_time_4,avg_commute_time_5)

(80.48752528127282, 0.019615935401559818)

In [139]:
# Total commute cost for all 5 sets
commute_cost_1 = pivoted_money.multiply(agg_1_scene_2).sum().sum()
commute_cost_2 = pivoted_money.multiply(agg_2_scene_2).sum().sum()
commute_cost_3 = pivoted_money.multiply(agg_3_scene_2).sum().sum()
commute_cost_4 = pivoted_money.multiply(agg_4_scene_2).sum().sum()
commute_cost_5 = pivoted_money.multiply(agg_5_scene_2).sum().sum()

In [140]:
# Average commute cost for all 5 sets
avg_commute_cost_1 = commute_cost_1/agg_1_scene_2.sum().sum()
avg_commute_cost_2 = commute_cost_2/agg_2_scene_2.sum().sum()
avg_commute_cost_3 = commute_cost_3/agg_3_scene_2.sum().sum()
avg_commute_cost_4 = commute_cost_4/agg_4_scene_2.sum().sum()
avg_commute_cost_5 = commute_cost_5/agg_5_scene_2.sum().sum()
avg_commute_cost_1

8.422370111676821

In [141]:
# mean and std for individual commute cost
weighted_mean_and_std(avg_commute_cost_1,avg_commute_cost_2,avg_commute_cost_3,avg_commute_cost_4,avg_commute_cost_5)

(8.4320404340245, 0.006629451576328555)

### Scenario 2 VS 3

In [142]:
time_diff_1 = 0
money_diff_1 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_1_scene_2.columns:
        diff = (agg_1_scene_3.loc[zone,col]-agg_1_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_1+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_1+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 192.72it/s]

In [143]:
time_diff_2 = 0
money_diff_2 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_2_scene_2.columns:
        diff = (agg_2_scene_3.loc[zone,col]-agg_2_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_2+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_2+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 201.19it/s]

In [144]:
time_diff_3 = 0
money_diff_3 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_3_scene_2.columns:
        diff = (agg_3_scene_3.loc[zone,col]-agg_3_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_3+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_3+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 181.40it/s]

In [145]:
time_diff_4 = 0
money_diff_4 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_4_scene_2.columns:
        diff = (agg_4_scene_3.loc[zone,col]-agg_4_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_4+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_4+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 181.61it/s]

In [146]:
time_diff_5 = 0
money_diff_5 = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_5_scene_2.columns:
        diff = (agg_5_scene_3.loc[zone,col]-agg_5_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff_5+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff_5+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 189.22it/s]

In [149]:
# Population is not the same for scenario2
population_1 = agg_1_scene_2.sum().sum()
population_2 = agg_2_scene_2.sum().sum()
population_3 = agg_3_scene_2.sum().sum()
population_4 = agg_4_scene_2.sum().sum()
population_5 = agg_5a_scene_2.sum().sum()

In [151]:
weighted_mean_and_std(time_diff_1/population_1,time_diff_2/population_2,time_diff_3/population_3,time_diff_4/population_4,time_diff_5/population_5)

(2.183440898775167, 0.10109283475854218)

In [152]:
weighted_mean_and_std(time_diff_1/population_1/avg_commute_time_1 *100, time_diff_2/population_2/avg_commute_time_2 *100,\
                    time_diff_3/population_3/avg_commute_time_3 *100, time_diff_4/population_4/avg_commute_time_4 *100,\
                        time_diff_5/population_5/avg_commute_time_5 *100)

(2.712742868088311, 0.12502628341335287)

In [153]:
weighted_mean_and_std(money_diff_1/population_1/avg_commute_cost_1 *100, money_diff_2/population_2/avg_commute_cost_2 *100,\
                    money_diff_3/population_3/avg_commute_cost_3 *100, money_diff_4/population_4/avg_commute_cost_4 *100, \
                        money_diff_5/population_5/avg_commute_cost_5 *100)

(-0.775246813528913, 0.2869630801626301)

## 10 dollar Tax Commute Statistics

In [102]:
# Total commute time for all 5 sets
commute_time_1 = pivoted_time.multiply(agg_1_scene_3).sum().sum()
commute_time_2 = pivoted_time.multiply(agg_2_scene_3).sum().sum()
commute_time_3 = pivoted_time.multiply(agg_3_scene_3).sum().sum()
commute_time_4 = pivoted_time.multiply(agg_4_scene_3).sum().sum()
commute_time_5 = pivoted_time.multiply(agg_5_scene_3).sum().sum()

In [103]:
# Average commute time for all 5 sets
avg_commute_time_1 = commute_time_1/agg_1_scene_3.sum().sum()
avg_commute_time_2 = commute_time_2/agg_2_scene_3.sum().sum()
avg_commute_time_3 = commute_time_3/agg_3_scene_3.sum().sum()
avg_commute_time_4 = commute_time_4/agg_4_scene_3.sum().sum()
avg_commute_time_5 = commute_time_5/agg_5_scene_3.sum().sum()
avg_commute_time_1

80.99970375810096

In [104]:
# mean and std for individual commute time
weighted_mean_and_std(avg_commute_time_1,avg_commute_time_2,avg_commute_time_3,avg_commute_time_4,avg_commute_time_5)

(80.95245871555284, 0.036565196439753346)

In [105]:
# Total commute cost for all 5 sets
commute_cost_1 = pivoted_money.multiply(agg_1_scene_3).sum().sum()
commute_cost_2 = pivoted_money.multiply(agg_2_scene_3).sum().sum()
commute_cost_3 = pivoted_money.multiply(agg_3_scene_3).sum().sum()
commute_cost_4 = pivoted_money.multiply(agg_4_scene_3).sum().sum()
commute_cost_5 = pivoted_money.multiply(agg_5_scene_3).sum().sum()

In [106]:
# Average commute cost for all 5 sets
avg_commute_cost_1 = commute_cost_1/agg_1_scene_3.sum().sum()
avg_commute_cost_2 = commute_cost_2/agg_2_scene_3.sum().sum()
avg_commute_cost_3 = commute_cost_3/agg_3_scene_3.sum().sum()
avg_commute_cost_4 = commute_cost_4/agg_4_scene_3.sum().sum()
avg_commute_cost_5 = commute_cost_5/agg_5_scene_3.sum().sum()
avg_commute_cost_1

8.18108464945438

In [107]:
# mean and std for individual commute cost
weighted_mean_and_std(avg_commute_cost_1,avg_commute_cost_2,avg_commute_cost_3,avg_commute_cost_4,avg_commute_cost_5)

(8.192727959940495, 0.010276763761331227)

#### Use below code only if you want exact values for the difference in time/money for commuters as it takes a very long time to run (>3 hours). It can also be used to get the difference for each taxi zone (after some minor changes).

In [148]:
# time_total = 0
# money_total = 0
# for pair in tqdm(ODpair_list,position=0):
#     time_pair = 0
#     money_pair = 0
#     for col in results_scene_1.columns:
#         time_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'duration']
#         money_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'price']
#     time_total+=time_pair
#     money_total+=money_pair