## Daily Impacts

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
import timeit
from tqdm import tqdm
from sklearn.model_selection import GridSearchCV
import re

In [7]:
results_1_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.04_1.5.csv',index_col=0)#,usecols=range(6))
results_2_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.05_1.5.csv',index_col=0)#,usecols=range(6))
results_3_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.06_1.5.csv',index_col=0)#,usecols=range(6))
results_4_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.05_1.4.csv',index_col=0)#,usecols=range(6))
results_5_scene_1 = pd.read_csv('Final_results/Scaled_results_scenario1_0.05_1.6.csv',index_col=0)#,usecols=range(6))
results_1_scene_1.head()

In [5]:
results_1_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.04_1.5.csv',index_col=0)
results_2_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.05_1.5.csv',index_col=0)
results_3_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.06_1.5.csv',index_col=0)
results_4_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.05_1.4.csv',index_col=0)
results_5_scene_2 = pd.read_csv('Final_results/Scaled_results_scenario2_0.05_1.6.csv',index_col=0)
results_1_scene_2.head()

      P(mode1)  P(mode2)  P(mode3)   P(mode4)  P(mode5)   P(mode6)
3-4        0.0       0.0       0.0   4.652835  0.335085   1.286075
3-7        0.0       0.0       0.0  14.415664  1.958350  15.466983
3-9        0.0       0.0       0.0   0.168665  0.097421   1.226766
3-10       0.0       0.0       0.0   0.188487  0.167608   1.866074
3-11       0.0       0.0       0.0   4.624413  0.195994   0.000385

In [6]:
results_1_scene_3 = pd.read_csv('Final_results/Scaled_results_scenario3_0.04_1.5.csv',index_col=0)#,usecols=range(6))
results_1_scene_3.head()

      P(mode1)  P(mode2)  P(mode3)   P(mode4)  P(mode5)   P(mode6)
3-4        0.0       0.0       0.0   5.391788  0.335085   0.863334
3-7        0.0       0.0       0.0  14.415664  1.958350  15.466983
3-9        0.0       0.0       0.0   0.168665  0.097421   1.226766
3-10       0.0       0.0       0.0   0.188487  0.167608   1.866074
3-11       0.0       0.0       0.0   4.624413  0.195994   0.000385

In [5]:
wages = pd.read_csv('../modeling/final_allMode_with_2017wage_cleaned_update.csv')
wages.head(5)

,Unnamed: 0,DOlocationID,ODpair,PUlocationID,duration,mode,nest,price,2500,7500,12500,17500,22500,30000,42500,62500,87500,125000,225000
0,0,4,3-4,3,39.695000,2,1,64.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
1,1,4,3-4,3,45.216667,3,1,61.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
2,2,4,3-4,3,83.000000,4,2,5.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
3,3,4,3-4,3,225.933333,5,3,0.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
4,4,4,3-4,3,39.695000,6,4,29.424,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005

In [6]:
# agg_scene_1 = results_scene_1.drop('destination',axis=1).groupby('origin').sum()
# agg_scene_1.head()
# agg_scene_1.columns = [name + '_predicted' for name in agg_scene_1.columns]
# acs = pd.read_csv('final_acs_transportation_choice.csv',index_col=0)
# acs.head()
# acs.columns = [name + '_actual' for name in acs.columns]
# scene_1_combined = agg_scene_1.merge(acs,how='left',left_index=True,right_index=True)
# scene_1_combined.head()

In [7]:
# Renaming for convenience in calculation
results_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_1.columns]
results_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_2.columns]
results_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_3.columns]

In [8]:
results_scene_1.reset_index(inplace=True)
results_scene_2.reset_index(inplace=True)
results_scene_3.reset_index(inplace=True)
results_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
results_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

In [9]:
results_scene_1.head()

,ODpair,1,2,3,4,5,6
0,10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.836678,6.649285,2.766530e-08
1,10-101,0.000000e+00,7.819299e-28,2.118372e-15,2.354671,25.406686,4.918278e+01
2,10-102,1.464256e-09,7.463596e-65,1.818113e-56,0.051058,7.632931,2.990898e+01
3,10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353996,2.722825,1.432621e+01
4,10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.267298,1.615599,4.697229e+00

In [10]:
# Getting the origin taxi zone
results_scene_1['origin'] = results_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_scene_2['origin'] = results_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
results_scene_3['origin'] = results_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

In [11]:
results_scene_1.head()

,ODpair,1,2,3,4,5,6,origin
0,10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.836678,6.649285,2.766530e-08,10
1,10-101,0.000000e+00,7.819299e-28,2.118372e-15,2.354671,25.406686,4.918278e+01,10
2,10-102,1.464256e-09,7.463596e-65,1.818113e-56,0.051058,7.632931,2.990898e+01,10
3,10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353996,2.722825,1.432621e+01,10
4,10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.267298,1.615599,4.697229e+00,10

In [12]:
# Aggregating the number of people in each ODpair by the origin zone
agg_scene_1 = results_scene_1.groupby('origin').sum()
agg_scene_2 = results_scene_2.groupby('origin').sum()
agg_scene_3 = results_scene_3.groupby('origin').sum()

In [13]:
agg_scene_1.columns = agg_scene_1.columns.astype('int')
agg_scene_2.columns = agg_scene_2.columns.astype('int')
agg_scene_3.columns = agg_scene_3.columns.astype('int')

In [14]:
agg_scene_1.head()

,1,2,3,4,5,6
origin,,,,,,
3,3.309133,196.244949,0.048633,4858.671555,1013.582303,2646.097794
4,255.673052,26.554637,0.002890,4401.149421,3518.346003,1991.096026
5,0.000000,119.877305,4.170957,3387.044986,524.942466,3443.210360
6,38.479078,0.013244,56.515609,2757.610445,230.213139,1779.850299
7,130.927202,23.475937,7.535659,26040.374400,1831.437034,9030.464309

In [15]:
pickup_list = wages.PUlocationID.unique()

In [16]:
origin_time_and_money_avg = wages.groupby(['PUlocationID','mode'],as_index=False)['duration','price'].mean()

In [17]:
origin_time_and_money_avg.head()

   PUlocationID  mode    duration      price
0             3     1   38.302359  37.428045
1             3     2   37.718869  56.582192
2             3     3   41.066196  50.717949
3             3     4   81.756356   5.948623
4             3     5  268.553355   0.000000

In [18]:
agg_scene_1.shape

(256, 6)

In [19]:
len(pickup_list)

256

## Status quo Commute Statistics

In [20]:
pivoted_time = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='duration')

In [21]:
commute_time = pivoted_time.multiply(agg_scene_1).sum().sum()

In [22]:
avg_commute_time = commute_time/agg_scene_1.sum().sum()
avg_commute_time

80.60148231599001

In [23]:
pivoted_money = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='price')

In [24]:
commute_cost = pivoted_money.multiply(agg_scene_1).sum().sum()

In [25]:
avg_commute_cost = commute_cost/agg_scene_1.sum().sum()
avg_commute_cost

8.47199408181695

## Subway ridership

In [26]:
agg_scene_3.sum()[0:3].sum()

30060.923814646987

In [27]:
agg_scene_1.sum()

1    9.720936e+03
2    1.475381e+04
3    5.745300e+03
4    1.756041e+06
5    3.071924e+05
6    7.865649e+05
dtype: float64

In [28]:
agg_scene_2.sum()

1    5.792926e+03
2    1.397524e+04
3    8.366256e+03
4    1.778124e+06
5    3.091325e+05
6    7.881405e+05
dtype: float64

In [29]:
agg_scene_2.sum()[0:3].sum()

28134.42353826024

In [30]:
agg_scene_1.sum()[0:3].sum()

30220.042331546694

In [31]:
agg_scene_1.sum()[4]

1756040.673507573

In [34]:
agg_scene_2.sum()[4]

1778124.369028269

In [36]:
agg_scene_3.sum()[4]

1900475.985169863

In [37]:
agg_scene_2.sum()[4] - agg_scene_1.sum()[4]

22083.695520695997

In [38]:
agg_scene_3.sum()[4] - agg_scene_1.sum()[4]

144435.31166229

In [39]:
agg_scene_3.sum()[4] - agg_scene_2.sum()[4]

122351.61614159402

In [40]:
(agg_scene_2.sum()[4] - agg_scene_1.sum()[4])/agg_scene_1.sum()[4] * 100

1.2575845112166624

In [41]:
(agg_scene_3.sum()[4] - agg_scene_1.sum()[4])/agg_scene_1.sum()[4] * 100

8.225055025279692

In [42]:
(agg_scene_3.sum()[4] - agg_scene_2.sum()[4])/agg_scene_2.sum()[4] * 100

6.88093691716616

### Scenario 1 VS 2

In [43]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_1.columns:
        diff = (agg_scene_2.loc[zone,col]-agg_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 197.51it/s]

In [44]:
time_diff

1553001.4970121356

In [45]:
money_diff

84485.61321272806

In [46]:
population = agg_scene_1.sum().sum()

In [51]:
# Extra commute time per person
time_diff/population

0.5392332606991136

In [52]:
time_diff/population/avg_commute_time *100

0.6690115928452827

In [53]:
# Extra Money spent per person
money_diff/population

0.02933509902116177

In [54]:
money_diff/population/avg_commute_cost *100

0.3462596731992807

### Scenario 1 VS 3

In [55]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_1.columns:
        diff = (agg_scene_3.loc[zone,col]-agg_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==int(col))])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 176.37it/s]

In [56]:
time_diff

7906522.972436135

In [57]:
money_diff

-88272.66465275346

In [58]:
population = agg_scene_2.sum().sum()

In [59]:
# Extra commute time per person
time_diff/population

2.723070866977508

In [60]:
time_diff/population/avg_commute_time *100

3.3784377020536454

In [61]:
# Money saved per person
money_diff/population

-0.03040182420317755

In [62]:
money_diff/population/avg_commute_cost *100

-0.35885086686294526

### Scenario 2 VS 3

In [63]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_2.columns:
        diff = (agg_scene_3.loc[zone,col]-agg_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==int(col))])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|██████████| 256/256 [00:01<00:00, 197.39it/s]

In [64]:
time_diff

6353521.475424019

In [65]:
money_diff

-172758.27786548133

In [66]:
population = agg_scene_2.sum().sum()

In [67]:
# Extra commute time per person
time_diff/population

2.1882045107259502

In [68]:
time_diff/population/(avg_commute_time+0.23051090439821367) *100

2.707102006948927

In [69]:
# Money saved per person
money_diff/population

-0.05949935706564437

In [70]:
money_diff/population/(avg_commute_cost-0.19852158448750543) *100

-0.7191582142183935

#### Use below code only if you want exact values for the difference in time/money for commuters as it takes a very long time to run (>3 hours). It can also be used to get the difference for each taxi zone (after some minor changes).

In [148]:
# time_total = 0
# money_total = 0
# for pair in tqdm(ODpair_list,position=0):
#     time_pair = 0
#     money_pair = 0
#     for col in results_scene_1.columns:
#         time_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'duration']
#         money_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'price']
#     time_total+=time_pair
#     money_total+=money_pair