## Daily Impacts

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
import timeit
from tqdm import tqdm
from sklearn.model_selection import GridSearchCV
import re

In [2]:
mean_scene_1 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario1_mean.csv',index_col=0)#,usecols=range(6))
mean_scene_1.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.836678,6.649285,2.766530e-08
10-101,0.000000e+00,7.819299e-28,2.118372e-15,2.354671,25.406686,4.918278e+01
10-102,1.464256e-09,7.463596e-65,1.818113e-56,0.051058,7.632931,2.990898e+01
10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353996,2.722825,1.432621e+01
10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.267298,1.615599,4.697229e+00

In [3]:
mean_scene_2 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario2_mean.csv',index_col=0)
mean_scene_2.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.836678,6.649285,2.766530e-08
10-101,0.000000e+00,7.819299e-28,2.118372e-15,2.354671,25.406686,4.918278e+01
10-102,1.464256e-09,7.463596e-65,1.818112e-56,0.051058,7.632931,2.990898e+01
10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353996,2.722825,1.432621e+01
10-107,0.000000e+00,0.000000e+00,0.000000e+00,47.267298,1.615599,4.697229e+00

In [4]:
mean_scene_3 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario3_mean.csv',index_col=0)#,usecols=range(6))
mean_scene_3.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,158.836678,6.649285,1.607797e-14
10-101,0.000000e+00,7.819299e-28,2.118372e-15,2.354671,25.406686,4.918278e+01
10-102,1.464256e-09,7.463596e-65,1.818112e-56,0.051058,7.632931,2.990898e+01
10-106,0.000000e+00,0.000000e+00,0.000000e+00,6.353996,2.722825,1.432621e+01
10-107,0.000000e+00,0.000000e+00,0.000000e+00,49.872440,1.615599,3.212003e+00

In [35]:
results_scene_1 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario1_std.csv',index_col=0)#,usecols=range(6))std_scene_1.head()

In [36]:
results_scene_2 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario2_std.csv',index_col=0)
# std_scene_2.head()

In [37]:
results_scene_3 = pd.read_csv('Final_results/Uncertainty/Scaled_results_scenario3_std.csv',index_col=0)#,usecols=range(6))
# std_scene_3.head()

In [38]:
results_scene_1.head()

,P(mode1),P(mode2),P(mode3),P(mode4),P(mode5),P(mode6)
10-100,0.000000e+00,0.000000e+00,0.000000e+00,0.067489,0.074958,2.399786e-08
10-101,0.000000e+00,1.563860e-27,4.236743e-15,0.134250,0.119965,1.499648e-02
10-102,1.854067e-09,1.492719e-64,3.636224e-56,0.009682,0.034331,2.311032e-02
10-106,0.000000e+00,0.000000e+00,0.000000e+00,0.008987,0.005450,2.326506e-03
10-107,0.000000e+00,0.000000e+00,0.000000e+00,0.035293,0.001082,2.067535e-02

In [39]:
(results_scene_1.sum()/mean_scene_1.sum()).values

array([0.25199634, 0.35289896, 0.44580268, 0.00873183, 0.00528235,
       0.00642778])

In [40]:
(results_scene_2.sum()/mean_scene_2.sum()).values

array([0.28612314, 0.30801688, 0.53835778, 0.00645724, 0.00516684,
       0.00559368])

In [41]:
results_scene_3.sum()/mean_scene_3.sum()

P(mode1)    0.158615
P(mode2)    0.299863
P(mode3)    0.660106
P(mode4)    0.003901
P(mode5)    0.004398
P(mode6)    0.004647
dtype: float64

In [44]:
var_scene_1 = results_scene_1**2
var_scene_2 = results_scene_2**2
var_scene_3 = results_scene_3**2

In [45]:
# results_scene_1 = mean_scene_1 + 1.96 * std_scene_1

In [46]:
wages = pd.read_csv('../modeling/final_allMode_with_2017wage_cleaned_update.csv',index_col=0)
wages.head(5)

,DOlocationID,ODpair,PUlocationID,duration,mode,nest,price,2500,7500,12500,17500,22500,30000,42500,62500,87500,125000,225000
0,4,3-4,3,39.695000,2,1,64.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
1,4,3-4,3,45.216667,3,1,61.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
2,4,3-4,3,83.000000,4,2,5.500,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
3,4,3-4,3,225.933333,5,3,0.000,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005
4,4,3-4,3,39.695000,6,4,29.424,0.250819,0.360216,0.648452,0.282211,0.414755,0.592009,0.671282,0.93859,0.586936,0.740725,0.514005

In [47]:
# agg_scene_1 = results_scene_1.drop('destination',axis=1).groupby('origin').sum()
# agg_scene_1.head()
# agg_scene_1.columns = [name + '_predicted' for name in agg_scene_1.columns]
# acs = pd.read_csv('final_acs_transportation_choice.csv',index_col=0)
# acs.head()
# acs.columns = [name + '_actual' for name in acs.columns]
# scene_1_combined = agg_scene_1.merge(acs,how='left',left_index=True,right_index=True)
# scene_1_combined.head()

In [48]:
# Renaming for convenience in calculation
var_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in var_scene_1.columns]
var_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in var_scene_2.columns]
var_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in var_scene_3.columns]

In [50]:
var_scene_1.reset_index(inplace=True)
var_scene_2.reset_index(inplace=True)
var_scene_3.reset_index(inplace=True)
var_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
var_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
var_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

In [51]:
var_scene_2.head()

,ODpair,1,2,3,4,5,6
0,10-100,0.000000e+00,0.000000e+00,0.000000e+00,0.004555,0.005619,5.758974e-16
1,10-101,0.000000e+00,2.445656e-54,1.794999e-29,0.018023,0.014392,2.248944e-04
2,10-102,3.437565e-18,2.228210e-128,1.322213e-111,0.000094,0.001179,5.340871e-04
3,10-106,0.000000e+00,0.000000e+00,0.000000e+00,0.000081,0.000030,5.412629e-06
4,10-107,0.000000e+00,0.000000e+00,0.000000e+00,0.001246,0.000001,4.274702e-04

In [52]:
# Getting the origin taxi zone
var_scene_1['origin'] = var_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
var_scene_2['origin'] = var_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
var_scene_3['origin'] = var_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

In [53]:
var_scene_1.head()

,ODpair,1,2,3,4,5,6,origin
0,10-100,0.000000e+00,0.000000e+00,0.000000e+00,0.004555,0.005619,5.758974e-16,10
1,10-101,0.000000e+00,2.445657e-54,1.794999e-29,0.018023,0.014392,2.248944e-04,10
2,10-102,3.437565e-18,2.228210e-128,1.322213e-111,0.000094,0.001179,5.340871e-04,10
3,10-106,0.000000e+00,0.000000e+00,0.000000e+00,0.000081,0.000030,5.412629e-06,10
4,10-107,0.000000e+00,0.000000e+00,0.000000e+00,0.001246,0.000001,4.274702e-04,10

In [54]:
# Aggregating the number of people in each ODpair by the origin zone
agg_scene_1 = var_scene_1.groupby('origin').sum()
agg_scene_2 = var_scene_2.groupby('origin').sum()
agg_scene_3 = var_scene_3.groupby('origin').sum()

In [73]:
agg_scene_1.columns = agg_scene_1.columns.astype('int')
agg_scene_2.columns = agg_scene_2.columns.astype('int')
agg_scene_3.columns = agg_scene_3.columns.astype('int')

In [74]:
agg_scene_1.head()

                 1            2         3            4         5            6
origin
3         0.224270   174.918334  0.000776     2.556438  1.816088    22.836506
4       305.388544   173.639706  0.000003  9498.610087  6.145949   849.235326
5         0.000000  6728.255845  3.077393     0.708760  0.039109   782.106480
6         3.131738     0.000019  2.469220     1.518884  0.036465    50.149288
7       169.269415   152.260533  5.124548  3358.038608  1.351824  1250.450546

In [69]:
results_scene_1 = agg_scene_1.pow(1/2)
results_scene_2 = agg_scene_2.pow(1/2)
results_scene_3 = agg_scene_3.pow(1/2)

In [70]:
results_scene_1.head()

                1          2         3          4         5          6
origin
3        0.473572  13.225669  0.027864   1.598887  1.347623   4.778756
4       17.475370  13.177242  0.001592  97.460813  2.479102  29.141642
5        0.000000  82.025946  1.754250   0.841879  0.197759  27.966167
6        1.769672   0.004360  1.571375   1.232430  0.190957   7.081616
7       13.010358  12.339389  2.263746  57.948586  1.162679  35.361710

In [95]:
# # Renaming for convenience in calculation
# results_scene_1.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_1.columns]
# results_scene_2.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_2.columns]
# results_scene_3.columns = [re.sub(r'[^\d.]+','',col) for col in results_scene_3.columns]

In [96]:
# results_scene_1.reset_index(inplace=True)
# results_scene_2.reset_index(inplace=True)
# results_scene_3.reset_index(inplace=True)
# results_scene_1.rename_axis({'index':'ODpair'},axis=1,inplace=True)
# results_scene_2.rename_axis({'index':'ODpair'},axis=1,inplace=True)
# results_scene_3.rename_axis({'index':'ODpair'},axis=1,inplace=True)

In [98]:
# # Getting the origin taxi zone
# results_scene_1['origin'] = results_scene_1.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
# results_scene_2['origin'] = results_scene_2.ODpair.apply(lambda x: x.split('-')[0]).astype('int')
# results_scene_3['origin'] = results_scene_3.ODpair.apply(lambda x: x.split('-')[0]).astype('int')

In [100]:
# # Aggregating the number of people in each ODpair by the origin zone
# agg_scene_1 = results_scene_1.groupby('origin').sum()
# agg_scene_2 = results_scene_2.groupby('origin').sum()
# agg_scene_3 = results_scene_3.groupby('origin').sum()

In [101]:
# agg_scene_1.columns = agg_scene_1.columns.astype('int')
# agg_scene_2.columns = agg_scene_2.columns.astype('int')
# agg_scene_3.columns = agg_scene_3.columns.astype('int')

In [75]:
pickup_list = wages.PUlocationID.unique()

In [76]:
origin_time_and_money_avg = wages.groupby(['PUlocationID','mode'],as_index=False)['duration','price'].mean()

In [77]:
origin_time_and_money_avg.head()

   PUlocationID  mode    duration      price
0             3     1   38.302359  37.428045
1             3     2   37.718869  56.582192
2             3     3   41.066196  50.717949
3             3     4   81.756356   5.948623
4             3     5  268.553355   0.000000

In [78]:
agg_scene_1.shape

(256, 6)

In [79]:
len(pickup_list)

256

## Status quo Commute Statistics

In [80]:
pivoted_time = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='duration')

In [81]:
commute_time = pivoted_time.multiply(agg_scene_1).sum().sum()

In [82]:
commute_time

73161254.76622245

In [87]:
avg_commute_time = commute_time/(agg_scene_1.sum().sum())
np.sqrt(avg_commute_time)

7.087791130490507

In [84]:
pivoted_money = origin_time_and_money_avg.reset_index().pivot(index='PUlocationID',columns='mode',values='price')

In [85]:
commute_cost = pivoted_money.multiply(agg_scene_1).sum().sum()

In [88]:
avg_commute_cost = commute_cost/agg_scene_1.sum().sum()
np.sqrt(avg_commute_cost)

4.515830251537208

## Subway ridership

In [89]:
np.sqrt(agg_scene_1.sum()[4])

866.890321882611

In [90]:
np.sqrt(agg_scene_2.sum()[4])

711.5526958978288

In [91]:
np.sqrt(agg_scene_3.sum()[4])

473.2474531544493

In [92]:
agg_scene_2.sum()[4] - agg_scene_1.sum()[4]

-245191.5911342689

In [93]:
agg_scene_3.sum()[4] - agg_scene_1.sum()[4]

-527535.6782565643

In [94]:
agg_scene_3.sum()[4] - agg_scene_2.sum()[4]

-282344.0871222954

In [103]:
np.sqrt(np.abs((agg_scene_2.sum()[4] - agg_scene_1.sum()[4])/agg_scene_1.sum()[4] * 100))

5.712005691853289

In [104]:
np.sqrt(np.abs((agg_scene_3.sum()[4] - agg_scene_1.sum()[4])/agg_scene_1.sum()[4] * 100))

8.378412995185082

In [105]:
np.sqrt(np.abs((agg_scene_3.sum()[4] - agg_scene_2.sum()[4])/agg_scene_2.sum()[4] * 100))

7.467621203036365

### Scenario 1 VS 2

In [106]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_1.columns:
        diff = (agg_scene_2.loc[zone,col]-agg_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==col)])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|| 256/256 [00:01<00:00, 200.28it/s]

In [107]:
time_diff

-17192002.318680905

In [108]:
money_diff

-3553422.6102407444

In [109]:
population = agg_scene_1.sum().sum()

In [110]:
# Extra commute time per person
time_diff/population

-11.805031152905393

In [111]:
time_diff/population/avg_commute_time *100

-23.498780021769413

In [111]:
# Money saved per person
money_diff/population

-0.19852158448750543

In [112]:
money_diff/population/avg_commute_cost *100

-1.9517640885665672

### Scenario 1 VS 3

In [113]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_1.columns:
        diff = (agg_scene_3.loc[zone,col]-agg_scene_1.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==int(col))])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|| 256/256 [00:01<00:00, 202.64it/s]

In [114]:
time_diff

4145773.768297022

In [115]:
money_diff

-1704369.9815825045

In [116]:
population = agg_scene_2.sum().sum()

In [117]:
# Extra commute time per person
time_diff/population

1.4388298295823805

In [118]:
time_diff/population/avg_commute_time *100

2.0170762195630907

In [119]:
# Money saved per person
money_diff/population

-0.5915176532059108

In [120]:
money_diff/population/avg_commute_cost *100

-5.815503217249062

### Scenario 2 VS 3

In [121]:
time_diff = 0
money_diff = 0
for zone in tqdm(pickup_list,position=0):
    for col in agg_scene_2.columns:
        diff = (agg_scene_3.loc[zone,col]-agg_scene_2.loc[zone,col])
        time_and_money = (origin_time_and_money_avg.loc[(origin_time_and_money_avg['PUlocationID']==zone)\
                                                       & (origin_time_and_money_avg['mode']==int(col))])
        time_diff+= diff * (0 if time_and_money.empty else time_and_money['duration'].values[0])
        money_diff+= diff * (0 if time_and_money.empty else time_and_money['price'].values[0])

100%|| 256/256 [00:01<00:00, 202.61it/s]

In [122]:
time_diff

3481590.9433983313

In [123]:
money_diff

-1132359.615597848

In [124]:
population = agg_scene_2.sum().sum()

In [125]:
# Extra commute time per person
time_diff/population

1.208318925184169

In [126]:
time_diff/population/(avg_commute_time+0.23051090439821367) *100

1.6884697851478847

In [127]:
# Money saved per person
money_diff/population

-0.39299606871840603

In [128]:
money_diff/population/(avg_commute_cost-0.19852158448750543) *100

-3.9406513465194832

#### Use below code only if you want exact values for the difference in time/money for commuters as it takes a very long time to run (>3 hours). It can also be used to get the difference for each taxi zone (after some minor changes).

In [148]:
# time_total = 0
# money_total = 0
# for pair in tqdm(ODpair_list,position=0):
#     time_pair = 0
#     money_pair = 0
#     for col in results_scene_1.columns:
#         time_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'duration']
#         money_pair+=(results_scene_1.loc[results_scene_1.index==pair,col]-results_scene_2.loc[results_scene_2.index==pair,col])\
#         *wages.loc[(wages['ODpair']==pair) & wages['mode']==int(col),'price']
#     time_total+=time_pair
#     money_total+=money_pair